.about-page__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.about-page__bg-pic {
  min-width: 100%;
  height: auto;
  @include adb("margin-top", -60, -15);
}

.main-bg-a {
  opacity: 0;
  transform: translateY(-70px);
  transition: transform 1s ease-in-out, opacity 2s ease-out;
  &.animation-class {
    opacity: 1;
    transform: none;
  }
}

// .main-bg-lines {
//   transform: scale(0.6);
//   transition-delay: 1s;
//   filter: blur(5px);
//   transition: transform 2s ease-out, filter 3s ease-out;
//   &.animation-class {
//     transform: scale(1);
//     filter: blur(0px);
//   }
// }

.main-bg-ellipse {
  opacity: 0;
  transition: opacity 2s ease-out, transform 2s ease-out;
  &:nth-child(5) {
    transition-delay: 1s;

    &.animation-class {
      opacity: 1;
    }
  }
  &:nth-child(4) {
    transition-delay: 1.2s;
  }
  &:nth-child(3) {
    transition-delay: 1.4s;
  }
  &:nth-child(2) {
    transition-delay: 1.6s;
  }
  &:nth-child(1) {
    transition-delay: 1.8s;
  }
  &.animation-class {
    opacity: 1;
  }
}
