.page-header {
  width: 100%;
  @include adb("padding-top", 80, 40);
  @include adb("margin-bottom", 40, 20);
  margin-top: -40px;
  display: flex;
}
.page-title {
  max-width: 50%;
  @include adb("margin-left", 80, 0);
  line-height: 1.14;
  min-width: 300px;
}
.page-subtitle {
  max-width: 50%;
  @include adb("margin-left", 80, 0);
  @include adb("margin-bottom", 110, 30);
  line-height: 150%;
  min-width: 300px;
}
.page-header__bottom-wrapper {
  display: grid;
  grid-template-columns: 1.092fr 1fr;
  gap: 0 56px;
}
.numbers {
  background-color: #fff;
  @include adb("border-radius", 52, 26);
  @include adb("padding-top", 70, 35);
  @include adb("padding-bottom", 60, 35);
  @include adb("padding-right", 74, 37);
  @include adb("padding-left", 74, 37);
  height: fit-content;
}
.numbers__title {
  font-weight: 500;
  @include adb("font-size", 40, 20);
  line-height: 1.3;
  font-family: inherit;
  margin-bottom: 0;
}
.numbers__items {
}
.numbers__item {
  @include adb("padding-top", 48, 27);
  &:not(:last-child) {
    @include adb("padding-bottom", 48, 27);
  }
  display: flex;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1.4px solid var(--color-border);
  }
}
.numbers__item-text {
  @include adb("width", 190, 95);
  @include adb("margin-right", 23, 12);
  @include adb("font-size", 24, 12);
  line-height: 1.32;
}
.numbers__item-number {
  font-weight: 300;
  @include adb("font-size", 82, 30);
  line-height: 1;
  white-space: nowrap;
}
.ecosystem {
  @include adb("padding-top", 105, -200);
}
.ecosystem__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: inherit;
}
.ecosystem__text {
  @include adb("font-size", 20, 14);
  line-height: 1.6;
  color: var(--color-black);
  p:not(:last-child) {
    @include adb("margin-bottom", 50, 25);
  }
}

@media screen and (max-width: 1100px) {
  .page-header__bottom-wrapper {
    display: block;
  }
  .numbers {
    margin: 0 30px 0 auto;
    // @include adb("margin-bottom", 110, 55);
    float: left;
  }
}

@media screen and (max-width: 767px) {
  .page-header__bottom-wrapper {
    display: flex;
    flex-direction: column;
  }
  .numbers {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include adb("margin-bottom", 110, 30);
  }
}
