.history {
  background: linear-gradient(118.96deg, #333333 2.53%, #0f0f0f 67.81%);
  color: #ffffff;
  @include adb("padding-top", 100, 40);
  @include adb("padding-bottom", 150, 40);
}
.container {
}
.history__title {
  line-height: 0.97;
  text-align: center;
  margin-bottom: 26px;
}

.history__subtitle {
  line-height: 1.45;
  color: var(--color-gray-text);
  max-width: 290px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.history__dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  max-width: 1220px;
  margin: 0 auto;
}
.history__date {
}
.history-date {
  height: 200px;
  max-width: 220px;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  position: relative;
  padding: 40px 30px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:after {
    content: "";
    position: absolute;
    bottom: 50px;
    right: -50px;
    width: 0;
    height: 10px;
    background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    border-radius: 60px;
    transition: width 0.5s ease-in;
  }
  &::before {
    width: 0 !important;
    transition: width 0.5s ease-in;
  }
  &.animation-class {
    &:after {
      width: 110px;
      transition: width 0.5s ease-in;
    }
    &::before {
      width: 110px !important;
      transition: width 0.5s ease-in;
    }
  }
}
.history-date__start {
  color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  transform: translateY(-50%);
}
.history-date__description {
  font-size: 17px;
  line-height: 1.65;
}
.history-date__end {
  font-weight: 500;
  font-size: 40px;
  line-height: 0.75;
}
.history__date--1 {
  background-image: url("../img/history-date-border-1.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  .history-date__end {
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
  }
}
.history__date--2 {
  &:after {
    top: 50px;
  }
  .history-date__end {
    font-size: 40px;
  }
  .history-date__description {
    font-size: 17px;
    line-height: 1.53;
    color: var(--color-primary);
  }
  padding-bottom: 32px;
}
.history__date--3 {
  padding-top: 28px;
  .history-date__description {
    font-size: 17px;
    line-height: 1.53;
    color: var(--color-primary);
  }
}
.history__date--4 {
  background-image: url("../img/history-date-border-4.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  padding-top: 28px;
  &:after {
    top: 50px;
  }
  .history-date__description {
    line-height: 1.53;
  }
  .history-date__end {
    text-align: right;
  }
}
.history__date--5 {
  background-image: url("../img/history-date-border-5.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  padding-right: 19px;
  &:after {
    display: none;
  }
  .history-date__end {
    text-align: right;
    margin-right: 11px;
  }
  .history-date__description {
    line-height: 1.53;
  }
}

@media screen and (max-width: 1365px) {
  .history__date--4,
  .history__date--5 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .history__dates {
    grid-template-columns: repeat(4, 1fr);
    max-width: 970px;
  }
  .history__date {
    padding-right: 20px;
    padding-left: 30px;
  }
  .history__date--5 {
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: -90px;
      width: 110px;
      height: 10px;
      background: linear-gradient(
        270deg,
        #fc2c38 0%,
        rgba(252, 44, 56, 0) 100%
      );
      border-radius: 60px;
    }
  }
}

@media screen and (max-width: 1099px) {
  .history__dates {
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
  }
  .history__date--4 {
    &::before {
      content: "";
      position: absolute;
      bottom: 50px;
      left: -90px;
      width: 110px;
      height: 10px;
      background: linear-gradient(
        270deg,
        #fc2c38 0%,
        rgba(252, 44, 56, 0) 100%
      );
      border-radius: 60px;
    }
  }
  .history__date--5 {
    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: 815px) {
  .history__dates {
    grid-template-columns: repeat(2, 1fr);
    max-width: 470px;
  }
  .history__date--4 {
    &::before {
      display: none;
    }
  }
  .history__date--5 {
    &::before {
      display: block;
    }
  }
  .history__date--3 {
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: -90px;
      width: 110px;
      height: 10px;
      background: linear-gradient(
        270deg,
        #fc2c38 0%,
        rgba(252, 44, 56, 0) 100%
      );
      border-radius: 60px;
    }
  }
}

@media screen and (max-width: 540px) {
  .history__dates {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
  .history__date {
    margin: 0 auto;
  }
  .history__date--2 {
    &::before {
      content: "";
      position: absolute;
      bottom: 50px;
      left: -90px;
      width: 110px;
      height: 10px;
      background: linear-gradient(
        270deg,
        #fc2c38 0%,
        rgba(252, 44, 56, 0) 100%
      );
      border-radius: 60px;
    }
  }
  .history__date--4 {
    &::before {
      display: block;
    }
  }
}
