.joint {
  @include adb("padding-bottom", 88, 40);
}
.container {
}
.joint__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 46px;
}
.joint__items {
  display: flex;
  width: 100%;
  justify-content: center;
}
.joint__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include adb("padding-right", 150, 40);
  @include adb("padding-left", 150, 40);
  position: relative;
  background-size: 100% 100%;
  &:nth-child(1) {
    .joint-item__diagram {
      background-image: url("../img/joint-item-diagram-1.svg");
    }
    &::after {
      content: "";
      position: absolute;
      top: 60%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      background-color: #c4c4c4;
      height: 57%;
    }
  }
  &:nth-child(2) {
    .joint-item__diagram {
      background-image: url("../img/joint-item-diagram-2.svg");
    }
    .joint-item__enterprise-logo {
      width: 46px;
      height: 46px;
    }
  }
}
.joint-item {
}
.joint-item__title {
  font-weight: 500;
  @include adb("font-size", 24, 16);
  margin-bottom: 20px;
}
.joint-item__enterprises {
  display: flex;
  margin: -5px -6px;
  flex-wrap: wrap;
  max-width: 180px;
  justify-content: center;
  margin-bottom: 34px;
  height: 84px;
}
.joint-item__enterprise-logo {
  width: 32px;
  height: 32px;
  margin: 5px 6px;
}
.joint-item__enterprise-logo-pic {
}
.joint-item__diagram {
  width: 210px;
  height: 210px;
  background-image: url("../img/joint-item-diagram-1.svg");
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  margin-bottom: 26px;
}
.joint-item__diagram-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
  line-height: 1.41;
  color: #fff;
}
.joint-item__diagram-description {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #d3d3d3;
  text-align: center;
}
.joint-item__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: #979797;
}

@media screen and (max-width: 680px) {
  .joint__title {
    margin-bottom: 0;
  }
  .joint__items {
    flex-direction: column;
  }
  .joint__item {
    @include adb("padding-bottom", 150, 20);
    @include adb("padding-top", 150, 20);
    &:nth-child(1) {
      &::after {
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        height: 1px;
        width: 80%;
      }
    }
  }
  .joint-item__enterprises {
    height: auto;
  }
}
