.profit {
  background-color: #fff;
}
.container {
}
.profit__prompt {
  @include adb("height", 170, 40);
  display: flex;
  align-items: center;
  max-width: 1085px;
  margin: 0 auto;
}
.profit__prompt-item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    @include adb("margin-right", 26, 10);
  }
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    @include adb("margin-right", 14, 7);
  }
  &:nth-child(1) {
    &::before {
      background-color: #fc2c38;
    }
  }
  &:nth-child(2) {
    &::before {
      background-color: #979797;
    }
  }
  &:nth-child(3) {
    &::before {
      background-color: #333333;
    }
  }
}
.profit__diagram {
}
.profit-diagram {
  @include adb("height", 480, 130);
  background-color: var(--color-bg--main);
  position: relative;
  .container {
    height: 100%;
  }
}
.profit-diagram__background {
  @include adb("padding-top", 40, 11);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  i {
    display: block;
    @include adb("height", 40, 11);
    background-color: #fff;
    @include adb("margin-bottom", 40, 11);
  }
}
.profit-diagram-pic {
  min-width: 97%;
  min-height: 98%;
  position: relative;
}
.profit__more {
  background-color: var(--color-bg--main);
  @include adb("padding-top", 70, 40);
  @include adb("padding-bottom", 76, 40);
}
.profit__more-items {
  background: linear-gradient(160.51deg, #333333 11.29%, #000000 145.81%);
  border-radius: 54px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 1190px;
  margin: 0 auto;
}
.profit__more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 78px;
  position: relative;
  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 80%;
      display: block;
      background-color: #fc2c38;
    }
  }
}
.profit__more-item-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
  @include adb("margin-bottom", 36, 18);
}

[data-percent] {
  opacity: 0;
}
.profit__more-item-number {
  font-size: 82px;
  color: #fc2c38;
  @include adb("margin-bottom", 24, 12);
}
.profit__more-item-description {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  max-width: 200px;
}

@media screen and (max-width: 991px) {
  .profit__more-items {
    flex-direction: column;
    height: auto;
  }
  .profit__more-item {
    padding: 40px;
    &:not(:last-child) {
      &::after {
        bottom: 0;
        top: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 80%;
      }
    }
  }
}
