.products {
  @include adb("padding-top", 80, 40);
  @include adb("padding-bottom", 210, 40);
}
.container {
}
.vk {
}
.vk__wrapper {
  max-width: 1190px;
  background-color: #fff;
  @include adb("border-radius", 54, 27);
  @include adb("padding-top", 70, 25);
  @include adb("padding-bottom", 86, 25);
  @include adb("padding-right", 70, 25);
  @include adb("padding-left", 70, 25);
  margin: 0 auto;
  @include adb("margin-bottom", 64, 32);
}
.vk__title {
  text-align: center;
  @include adb("margin-bottom", 24, 12);
}
.section-title {
}
.vk__subtitle {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}
.section-subtitle {
}
.vk__cards {
  @include adb("margin-top", 42, 20);
}
.vk-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}
.vk-card {
}
.vk-card__wrapper {
  background: #ebf1ff;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
}
.vk-card__logo {
  height: 26px;
  width: auto;
  max-width: 80%;
}
.vk-card__logo-img {
}
.vk-card__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8f9ab5;
  max-width: 80%;
  margin: 0 auto;
  @include adb("margin-top", 20, 10);
}
.vk__lists {
}
.vk-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1050px;
  margin: 0 auto;
}
.vk-lists__column {
}
.vk-list {
  &:not(:last-child) {
    margin-bottom: 34px;
  }
  &.active {
    .vk-list__name {
      margin-bottom: 20px;
      &::before {
        transform: rotate(180deg);
      }
    }
    .vk-list__items {
      display: block;
    }
  }
}
.vk-list__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("../img/vk-lists-dropdown.svg");
    margin-right: 12px;
  }
}
.vk-list__items {
  display: none;
  padding-left: 28px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.vk-list__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.vk-list__item-logo {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}
.services-card__logo-img {
}
.vk-list__item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-black);
  max-width: 136px;
}
.vk-list__subname {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--color-black);
  margin-bottom: 14px;
}

@media screen and (max-width: 1080px) {
  .vk-lists {
    display: block;
  }
  .vk-lists__column {
    display: flex;
    width: 100%;
  }
  .vk-list {
    width: 25%;
  }
}

@media screen and (max-width: 880px) {
  .vk-lists__column {
    flex-wrap: wrap;
  }
  .vk-list {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .vk-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .vk-list {
    width: 100%;
  }
  .vk-lists__column {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }
  .vk-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 413px) {
  .vk-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
