.rise {
  @include adb("padding-top", 60, 40);
  @include adb("padding-bottom", 80, 40);
}
.container {
}
.rise__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
  @include adb("margin-bottom", 50, 20);
}
.rise__grid {
}
.rise-grid__row {
  display: grid;
  grid-template-columns: 2.66fr 2.68fr 2.54fr 1fr;
  background-color: #fff;
  @include adb("height", 60, 40);
  border-radius: 10px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:nth-child(1) {
    background-color: #333333;
    height: 40px;
    border-radius: 0;
  }
}

.rise__grid-th {
  font-weight: 500;
  font-size: 14px;
  color: #d7d7d7;
  display: flex;
  align-items: center;
  @include adb("padding-left", 32, 5);
  border: none;
  &:nth-child(4) {
    @include adb("min-width", 100, 55);
  }
}
.rise__grid-td {
  display: flex;
  align-items: center;
  @include adb("padding-left", 32, 5);
  &:nth-child(1) {
    font-weight: 500;
    @include adb("font-size", 20, 12);
  }
  &:nth-child(2) {
    font-weight: 500;
    @include adb("font-size", 14, 10);
  }
  &:nth-child(3) {
    font-weight: 500;
    color: #aaaaaa;
    @include adb("font-size", 14, 10);
  }
  &:nth-child(4) {
    @include adb("font-size", 34, 16);
    color: #fc2c38;
    position: relative;
    @include adb("min-width", 100, 45);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      background-image: url("../img/rise-arrow-up.svg");
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
    }
  }
}

// @media screen and (max-width: 980px) {
//   .rise-grid__row {
//     grid-template-columns: repeat(4, 1fr);
//   }
// }
