.services {
  @include adb("padding-bottom", 90, 40);
}
.container {
}
.services__cards {
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @include adb("margin-bottom", 90, 40);
}
.services__card {
}
.services-card {
  padding: 20px 20px 20px 24px;
  background: #ffffff;
  border-radius: 24px;
  min-height: 260px;
  transform: translateY(200px);
  opacity: 0;

  &:nth-of-type(6) {
    grid-area: 2 / 2 / 4 / 3;
  }
  &.animation-class {
    transform: none;
    opacity: 1;
  }
  &:nth-child(4n + 1) {
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:nth-child(4n + 2) {
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:nth-child(4n + 3) {
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  &:nth-child(4n + 4) {
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.services-card__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.services-card__name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
  margin: 0;
}
.services-card__logo {
  width: 40px;
  height: 40px;
}
.services-card__logo-img {
}
.services-card__number {
  font-size: 46px;
  line-height: 0.52;
  margin-bottom: 24px;
}
.services-card__description {
  font-size: 18px;
  line-height: 1.56;
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
.services__show-more-cards {
  margin: 0 auto;
  display: flex;
  width: 260px;
  height: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
}
.button {
}

@media screen and (max-width: 1279px) {
  .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 989px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .services-card {
    &:nth-of-type(6) {
      grid-area: auto;
    }
  }
}
