.shareholders {
}
.container {
}
.shareholders__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.18fr;
  gap: 82px;
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
}
.shareholders__text {
}
.shareholders__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  @include adb("margin-bottom", 42, 20);
}
.shareholders__items {
  padding-left: 26px;
  @include adb("font-size", 18, 16);
  line-height: 1.56;
  color: #000000;
  @include adb("margin-bottom", 56, 20);
}
.shareholders__item {
  position: relative;
  max-width: 440px;
  &:not(:last-child) {
    @include adb("margin-bottom", 34, 15);
  }
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -24px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
  }
}
.shareholders__prompt {
}
.shareholders__prompt-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #979797;
  max-width: 350px;
  @include adb("margin-bottom", 26, 20);
}
.shareholders__prompt-items {
  display: grid;
  grid-template-columns: 194px 130px 148px;
  @include adb("row-gap", 20, 10);
}
.shareholders__prompt-item {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
  }
  &:nth-child(1) {
    &::before {
      background-color: #fc2c38;
    }
  }
  &:nth-child(2) {
    &::before {
      background-color: #ffb5b9;
    }
  }
  &:nth-child(3) {
    &::before {
      background-color: #d20028;
    }
  }
  &:nth-child(4) {
    &::before {
      background-color: #333333;
    }
  }
  &:nth-child(5) {
    &::before {
      background-color: #fd5660;
    }
  }
}
.shareholders__diagram {
}
.shareholders-diagram-pic {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .shareholders__wrapper {
    grid-template-columns: repeat(1, 1fr);
    @include adb("gap", 82, 20);
  }
  .shareholders__title {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .shareholders__prompt-items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
