@font-face {
  font-family: 'Mail Sans Roman';
  src: url("../fonts/MailSansRoman-DemiBold.woff2") format("woff2"), url("../fonts/MailSansRoman-DemiBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mail Sans Roman';
  src: url("../fonts/MailSansRoman-Medium.woff2") format("woff2"), url("../fonts/MailSansRoman-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mail Sans Roman';
  src: url("../fonts/MailSansRoman-Regular.woff2") format("woff2"), url("../fonts/MailSansRoman-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mail Sans Roman';
  src: url("../fonts/MailSansRoman-Light.woff2") format("woff2"), url("../fonts/MailSansRoman-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mail Sans Roman';
  src: url("../fonts/MailSansRoman-Bold.woff2") format("woff2"), url("../fonts/MailSansRoman-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'William Display';
  src: url("../fonts/WilliamDisplayPro-Bld.woff2") format("woff2"), url("../fonts/WilliamDisplayPro-Bld.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icon_font";
  src: url("../fonts/icon_font2.woff") format("woff2"), url("../fonts/icon_font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg--main: #f4f4f4;
  --color-border: #d7d7d7;
  --color-black: #000000;
  --color-gray-text: #b7b7b7;
  --color-primary: #fc2c38;
}

.about-page .container {
  max-width: 1426px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1426px;
          flex: 0 1 1426px;
  width: auto;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.section-title {
  font-weight: bold;
  font-size: 72px;
}

.section-subtitle {
  font-size: 22px;
}

.block-title {
  font-size: 40px;
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}

p,
ul {
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  padding-top: 80px;
  margin-bottom: 40px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title {
  max-width: 50%;
  margin-left: 80px;
  line-height: 1.14;
  min-width: 300px;
}

.page-subtitle {
  max-width: 50%;
  margin-left: 80px;
  margin-bottom: 110px;
  line-height: 150%;
  min-width: 300px;
}

.page-header__bottom-wrapper {
  display: grid;
  grid-template-columns: 1.092fr 1fr;
  gap: 0 56px;
}

.numbers {
  background-color: #fff;
  border-radius: 52px;
  padding-top: 70px;
  padding-bottom: 60px;
  padding-right: 74px;
  padding-left: 74px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.numbers__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  font-family: inherit;
  margin-bottom: 0;
}

.numbers__item {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__item:not(:last-child) {
  padding-bottom: 48px;
}

.numbers__item:not(:last-child) {
  border-bottom: 1.4px solid var(--color-border);
}

.numbers__item-text {
  width: 190px;
  margin-right: 23px;
  font-size: 24px;
  line-height: 1.32;
}

.numbers__item-number {
  font-weight: 300;
  font-size: 82px;
  line-height: 1;
  white-space: nowrap;
}

.ecosystem {
  padding-top: 105px;
}

.ecosystem__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  font-family: inherit;
}

.ecosystem__text {
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-black);
}

.ecosystem__text p:not(:last-child) {
  margin-bottom: 50px;
}

.services {
  padding-bottom: 90px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 90px;
}

.services-card {
  padding: 20px 20px 20px 24px;
  background: #ffffff;
  border-radius: 24px;
  min-height: 260px;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.services-card:nth-of-type(6) {
  grid-area: 2 / 2 / 4 / 3;
}

.services-card.animation-class {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.services-card:nth-child(4n + 1) {
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-card:nth-child(4n + 2) {
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-card:nth-child(4n + 3) {
  -webkit-transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-card:nth-child(4n + 4) {
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-card__top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.services-card__name {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
  margin: 0;
}

.services-card__logo {
  width: 40px;
  height: 40px;
}

.services-card__number {
  font-size: 46px;
  line-height: 0.52;
  margin-bottom: 24px;
}

.services-card__description {
  font-size: 18px;
  line-height: 1.56;
}

.services-card__description:not(:last-child) {
  margin-bottom: 36px;
}

.services__show-more-cards {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  height: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
}

.history {
  background: -o-linear-gradient(331.04deg, #333333 2.53%, #0f0f0f 67.81%);
  background: linear-gradient(118.96deg, #333333 2.53%, #0f0f0f 67.81%);
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 150px;
}

.history__title {
  line-height: 0.97;
  text-align: center;
  margin-bottom: 26px;
}

.history__subtitle {
  line-height: 1.45;
  color: var(--color-gray-text);
  max-width: 290px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.history__dates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  max-width: 1220px;
  margin: 0 auto;
}

.history-date {
  height: 200px;
  max-width: 220px;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  position: relative;
  padding: 40px 30px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history-date:after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: -50px;
  width: 0;
  height: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#fc2c38), to(rgba(252, 44, 56, 0)));
  background: -o-linear-gradient(right, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
  background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
  border-radius: 60px;
  -webkit-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.history-date::before {
  width: 0 !important;
  -webkit-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.history-date.animation-class:after {
  width: 110px;
  -webkit-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.history-date.animation-class::before {
  width: 110px !important;
  -webkit-transition: width 0.5s ease-in;
  -o-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.history-date__start {
  color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.history-date__description {
  font-size: 17px;
  line-height: 1.65;
}

.history-date__end {
  font-weight: 500;
  font-size: 40px;
  line-height: 0.75;
}

.history__date--1 {
  background-image: url("../img/history-date-border-1.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
}

.history__date--1 .history-date__end {
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
}

.history__date--2 {
  padding-bottom: 32px;
}

.history__date--2:after {
  top: 50px;
}

.history__date--2 .history-date__end {
  font-size: 40px;
}

.history__date--2 .history-date__description {
  font-size: 17px;
  line-height: 1.53;
  color: var(--color-primary);
}

.history__date--3 {
  padding-top: 28px;
}

.history__date--3 .history-date__description {
  font-size: 17px;
  line-height: 1.53;
  color: var(--color-primary);
}

.history__date--4 {
  background-image: url("../img/history-date-border-4.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  padding-top: 28px;
}

.history__date--4:after {
  top: 50px;
}

.history__date--4 .history-date__description {
  line-height: 1.53;
}

.history__date--4 .history-date__end {
  text-align: right;
}

.history__date--5 {
  background-image: url("../img/history-date-border-5.svg");
  background-size: 100% 100%;
  background-position: center;
  border: none;
  padding-right: 19px;
}

.history__date--5:after {
  display: none;
}

.history__date--5 .history-date__end {
  text-align: right;
  margin-right: 11px;
}

.history__date--5 .history-date__description {
  line-height: 1.53;
}

.products {
  padding-top: 80px;
  padding-bottom: 210px;
}

.vk__wrapper {
  max-width: 1190px;
  background-color: #fff;
  border-radius: 54px;
  padding-top: 70px;
  padding-bottom: 86px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.vk__title {
  text-align: center;
  margin-bottom: 24px;
}

.vk__subtitle {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.vk__cards {
  margin-top: 42px;
}

.vk-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.vk-card__wrapper {
  background: #ebf1ff;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 66px;
}

.vk-card__logo {
  height: 26px;
  width: auto;
  max-width: 80%;
}

.vk-card__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8f9ab5;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.vk-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1050px;
  margin: 0 auto;
}

.vk-list:not(:last-child) {
  margin-bottom: 34px;
}

.vk-list.active .vk-list__name {
  margin-bottom: 20px;
}

.vk-list.active .vk-list__name::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.vk-list.active .vk-list__items {
  display: block;
}

.vk-list__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
}

.vk-list__name::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../img/vk-lists-dropdown.svg");
  margin-right: 12px;
}

.vk-list__items {
  display: none;
  padding-left: 28px;
}

.vk-list__items:not(:last-child) {
  margin-bottom: 20px;
}

.vk-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vk-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.vk-list__item-logo {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.vk-list__item-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-black);
  max-width: 136px;
}

.vk-list__subname {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: var(--color-black);
  margin-bottom: 14px;
}

.profit {
  background-color: #fff;
}

.profit__prompt {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
  margin: 0 auto;
}

.profit__prompt-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit__prompt-item:not(:last-child) {
  margin-right: 26px;
}

.profit__prompt-item::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 2px;
  margin-right: 14px;
}

.profit__prompt-item:nth-child(1)::before {
  background-color: #fc2c38;
}

.profit__prompt-item:nth-child(2)::before {
  background-color: #979797;
}

.profit__prompt-item:nth-child(3)::before {
  background-color: #333333;
}

.profit-diagram {
  height: 480px;
  background-color: var(--color-bg--main);
  position: relative;
}

.profit-diagram .container {
  height: 100%;
}

.profit-diagram__background {
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profit-diagram__background i {
  display: block;
  height: 40px;
  background-color: #fff;
  margin-bottom: 40px;
}

.profit-diagram-pic {
  min-width: 97%;
  min-height: 98%;
  position: relative;
}

.profit__more {
  background-color: var(--color-bg--main);
  padding-top: 70px;
  padding-bottom: 76px;
}

.profit__more-items {
  background: -o-linear-gradient(289.49deg, #333333 11.29%, #000000 145.81%);
  background: linear-gradient(160.51deg, #333333 11.29%, #000000 145.81%);
  border-radius: 54px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  max-width: 1190px;
  margin: 0 auto;
}

.profit__more-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 78px;
  position: relative;
}

.profit__more-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 80%;
  display: block;
  background-color: #fc2c38;
}

.profit__more-item-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.09;
  margin-bottom: 36px;
}

[data-percent] {
  opacity: 0;
}

.profit__more-item-number {
  font-size: 82px;
  color: #fc2c38;
  margin-bottom: 24px;
}

.profit__more-item-description {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  max-width: 200px;
}

.joint {
  padding-bottom: 88px;
}

.joint__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 46px;
}

.joint__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.joint__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 150px;
  padding-left: 150px;
  position: relative;
  background-size: 100% 100%;
}

.joint__item:nth-child(1) .joint-item__diagram {
  background-image: url("../img/joint-item-diagram-1.svg");
}

.joint__item:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  background-color: #c4c4c4;
  height: 57%;
}

.joint__item:nth-child(2) .joint-item__diagram {
  background-image: url("../img/joint-item-diagram-2.svg");
}

.joint__item:nth-child(2) .joint-item__enterprise-logo {
  width: 46px;
  height: 46px;
}

.joint-item__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.joint-item__enterprises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -5px -6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
  height: 84px;
}

.joint-item__enterprise-logo {
  width: 32px;
  height: 32px;
  margin: 5px 6px;
}

.joint-item__diagram {
  width: 210px;
  height: 210px;
  background-image: url("../img/joint-item-diagram-1.svg");
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
  margin-bottom: 26px;
}

.joint-item__diagram-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 58px;
  line-height: 1.41;
  color: #fff;
}

.joint-item__diagram-description {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  color: #d3d3d3;
  text-align: center;
}

.joint-item__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: #979797;
}

.shareholders__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.18fr;
  gap: 82px;
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
}

.shareholders__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 42px;
}

.shareholders__items {
  padding-left: 26px;
  font-size: 18px;
  line-height: 1.56;
  color: #000000;
  margin-bottom: 56px;
}

.shareholders__item {
  position: relative;
  max-width: 440px;
}

.shareholders__item:not(:last-child) {
  margin-bottom: 34px;
}

.shareholders__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -24px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
}

.shareholders__prompt-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #979797;
  max-width: 350px;
  margin-bottom: 26px;
}

.shareholders__prompt-items {
  display: grid;
  grid-template-columns: 194px 130px 148px;
  row-gap: 20px;
}

.shareholders__prompt-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shareholders__prompt-item::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 14px;
}

.shareholders__prompt-item:nth-child(1)::before {
  background-color: #fc2c38;
}

.shareholders__prompt-item:nth-child(2)::before {
  background-color: #ffb5b9;
}

.shareholders__prompt-item:nth-child(3)::before {
  background-color: #d20028;
}

.shareholders__prompt-item:nth-child(4)::before {
  background-color: #333333;
}

.shareholders__prompt-item:nth-child(5)::before {
  background-color: #fd5660;
}

.shareholders-diagram-pic {
  width: 100%;
  height: 100%;
}

.statistics {
  padding-bottom: 60px;
  position: relative;
}

.statistics::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 73%;
  background-color: #fff;
}

.container {
  position: relative;
}

.statistics__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.statistics-item:nth-child(1) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 42px;
}

.statistics-item:nth-child(1) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 78px;
}

.statistics-item:nth-child(1) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 41px;
}

.statistics-item:nth-child(1) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 53px;
}

.statistics-item:nth-child(2) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 22px;
}

.statistics-item:nth-child(2) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 54px;
}

.statistics-item:nth-child(2) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 23px;
}

.statistics-item:nth-child(2) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 42px;
}

.statistics-item:nth-child(3) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 6px;
}

.statistics-item:nth-child(3) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 50px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 5px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 1px;
}

.statistics-item:nth-child(3) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin: 0;
}

.statistics-item:nth-child(4) .statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  height: 16px;
}

.statistics-item:nth-child(4) .statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  height: 50px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  height: 10px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  height: 4px;
}

.statistics-item:nth-child(4) .statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin: 0;
}

.statistics-item__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 40px;
  min-height: 50px;
}

.statistics-item__proceeds {
  background: -o-linear-gradient(315deg, #333333 0%, #000000 100%);
  background: linear-gradient(135deg, #333333 0%, #000000 100%);
  border-radius: 54px;
  height: 290px;
  padding-top: 60px;
  padding-bottom: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item__proceeds-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 15px;
  line-height: 19px;
  color: #979797;
}

.statistics-item__proceeds-percent {
  font-size: 52px;
  color: #fc2c38;
  text-align: center;
}

.statistics-item__proceeds-percent span {
  display: inline-block;
}

.statistics-item__proceeds-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}

.statistics-item__proceeds-diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.statistics-item__proceeds-diagram:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #585656;
}

.statistics-item__proceeds-diagram:nth-child(1) .statistics-item__proceeds-diagram-figure {
  background-color: #585656;
}

.statistics-item__proceeds-diagram:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-figure {
  border: 1px solid #ffffff;
}

.statistics-item__proceeds-diagram:nth-child(2) .statistics-item__proceeds-diagram-number {
  margin-bottom: -30px;
}

.statistics-item__proceeds-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}

.statistics-item__ebitda {
  padding-top: 50px;
  position: relative;
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics-item__ebitda-percent {
  font-size: 52px;
  color: #fc2c38;
  text-align: center;
}

.statistics-item__ebitda-diagrams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 148px;
}

.statistics-item__ebitda-diagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.statistics-item__ebitda-diagram:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #979797;
}

.statistics-item__ebitda-diagram:nth-child(1) .statistics-item__ebitda-diagram-figure {
  background-color: #979797;
}

.statistics-item__ebitda-diagram:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #333333;
}

.statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-figure {
  border: 1px solid #333333;
}

.statistics-item__ebitda-diagram:nth-child(2) .statistics-item__ebitda-diagram-number {
  margin-bottom: -30px;
}

.statistics-item__ebitda-diagram-date {
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
}

.statistics-item__description {
  margin: 0 auto;
  margin-top: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  max-width: 260px;
}

.statistics-item__ebitda-prompt {
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 15px;
  line-height: 19px;
  color: #979797;
}

.rise {
  padding-top: 60px;
  padding-bottom: 80px;
}

.rise__title {
  font-family: "Mail Sans Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}

.rise-grid__row {
  display: grid;
  grid-template-columns: 2.66fr 2.68fr 2.54fr 1fr;
  background-color: #fff;
  height: 60px;
  border-radius: 10px;
}

.rise-grid__row:not(:last-child) {
  margin-bottom: 8px;
}

.rise-grid__row:nth-child(1) {
  background-color: #333333;
  height: 40px;
  border-radius: 0;
}

.rise__grid-th {
  font-weight: 500;
  font-size: 14px;
  color: #d7d7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  border: none;
}

.rise__grid-th:nth-child(4) {
  min-width: 100px;
}

.rise__grid-td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
}

.rise__grid-td:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
}

.rise__grid-td:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
}

.rise__grid-td:nth-child(3) {
  font-weight: 500;
  color: #aaaaaa;
  font-size: 14px;
}

.rise__grid-td:nth-child(4) {
  font-size: 34px;
  color: #fc2c38;
  position: relative;
  min-width: 100px;
}

.rise__grid-td:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  background-image: url("../img/rise-arrow-up.svg");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}

.about-page {
  background-color: var(--color-bg--main);
  position: relative;
  background-image: url("../img/about-header-bg.svg");
  background-size: 100% auto;
  background-position-y: -60px;
  background-repeat: no-repeat;
}

.about-page .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1426px) {
  .about-page .container {
    padding-left: calc(10px + 60 * ((100vw - 320px) / 1106));
  }

  .about-page .container {
    padding-right: calc(10px + 60 * ((100vw - 320px) / 1106));
  }

  .section-title {
    font-size: calc(32px + 40 * ((100vw - 320px) / 1106));
  }

  .section-subtitle {
    font-size: calc(14px + 8 * ((100vw - 320px) / 1106));
  }

  .block-title {
    font-size: calc(22px + 18 * ((100vw - 320px) / 1106));
  }

  .page-header {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 1106));
  }

  .page-header {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1106));
  }

  .page-title {
    margin-left: calc(0px + 80 * ((100vw - 320px) / 1106));
  }

  .page-subtitle {
    margin-left: calc(0px + 80 * ((100vw - 320px) / 1106));
  }

  .page-subtitle {
    margin-bottom: calc(30px + 80 * ((100vw - 320px) / 1106));
  }

  .numbers {
    border-radius: calc(26px + 26 * ((100vw - 320px) / 1106));
  }

  .numbers {
    padding-top: calc(35px + 35 * ((100vw - 320px) / 1106));
  }

  .numbers {
    padding-bottom: calc(35px + 25 * ((100vw - 320px) / 1106));
  }

  .numbers {
    padding-right: calc(37px + 37 * ((100vw - 320px) / 1106));
  }

  .numbers {
    padding-left: calc(37px + 37 * ((100vw - 320px) / 1106));
  }

  .numbers__title {
    font-size: calc(20px + 20 * ((100vw - 320px) / 1106));
  }

  .numbers__item {
    padding-top: calc(27px + 21 * ((100vw - 320px) / 1106));
  }

  .numbers__item:not(:last-child) {
    padding-bottom: calc(27px + 21 * ((100vw - 320px) / 1106));
  }

  .numbers__item-text {
    width: calc(95px + 95 * ((100vw - 320px) / 1106));
  }

  .numbers__item-text {
    margin-right: calc(12px + 11 * ((100vw - 320px) / 1106));
  }

  .numbers__item-text {
    font-size: calc(12px + 12 * ((100vw - 320px) / 1106));
  }

  .numbers__item-number {
    font-size: calc(30px + 52 * ((100vw - 320px) / 1106));
  }

  .ecosystem {
    padding-top: calc(-200px + 305 * ((100vw - 320px) / 1106));
  }

  .ecosystem__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1106));
  }

  .ecosystem__text p:not(:last-child) {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 1106));
  }

  .services {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / 1106));
  }

  .services-cards {
    margin-bottom: calc(40px + 50 * ((100vw - 320px) / 1106));
  }

  .history {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 1106));
  }

  .history {
    padding-bottom: calc(40px + 110 * ((100vw - 320px) / 1106));
  }

  .products {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 1106));
  }

  .products {
    padding-bottom: calc(40px + 170 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    border-radius: calc(27px + 27 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    padding-top: calc(25px + 45 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    padding-bottom: calc(25px + 61 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    padding-right: calc(25px + 45 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    padding-left: calc(25px + 45 * ((100vw - 320px) / 1106));
  }

  .vk__wrapper {
    margin-bottom: calc(32px + 32 * ((100vw - 320px) / 1106));
  }

  .vk__title {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 1106));
  }

  .vk__cards {
    margin-top: calc(20px + 22 * ((100vw - 320px) / 1106));
  }

  .vk-card__name {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 1106));
  }

  .profit__prompt {
    height: calc(40px + 130 * ((100vw - 320px) / 1106));
  }

  .profit__prompt-item:not(:last-child) {
    margin-right: calc(10px + 16 * ((100vw - 320px) / 1106));
  }

  .profit__prompt-item::before {
    margin-right: calc(7px + 7 * ((100vw - 320px) / 1106));
  }

  .profit-diagram {
    height: calc(130px + 350 * ((100vw - 320px) / 1106));
  }

  .profit-diagram__background {
    padding-top: calc(11px + 29 * ((100vw - 320px) / 1106));
  }

  .profit-diagram__background i {
    height: calc(11px + 29 * ((100vw - 320px) / 1106));
  }

  .profit-diagram__background i {
    margin-bottom: calc(11px + 29 * ((100vw - 320px) / 1106));
  }

  .profit__more {
    padding-top: calc(40px + 30 * ((100vw - 320px) / 1106));
  }

  .profit__more {
    padding-bottom: calc(40px + 36 * ((100vw - 320px) / 1106));
  }

  .profit__more-item-name {
    margin-bottom: calc(18px + 18 * ((100vw - 320px) / 1106));
  }

  .profit__more-item-number {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 1106));
  }

  .joint {
    padding-bottom: calc(40px + 48 * ((100vw - 320px) / 1106));
  }

  .joint__item {
    padding-right: calc(40px + 110 * ((100vw - 320px) / 1106));
  }

  .joint__item {
    padding-left: calc(40px + 110 * ((100vw - 320px) / 1106));
  }

  .joint-item__title {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1106));
  }

  .shareholders__title {
    margin-bottom: calc(20px + 22 * ((100vw - 320px) / 1106));
  }

  .shareholders__items {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1106));
  }

  .shareholders__items {
    margin-bottom: calc(20px + 36 * ((100vw - 320px) / 1106));
  }

  .shareholders__item:not(:last-child) {
    margin-bottom: calc(15px + 19 * ((100vw - 320px) / 1106));
  }

  .shareholders__prompt-title {
    margin-bottom: calc(20px + 6 * ((100vw - 320px) / 1106));
  }

  .shareholders__prompt-items {
    row-gap: calc(10px + 10 * ((100vw - 320px) / 1106));
  }

  .statistics-item__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1106));
  }

  .rise {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 1106));
  }

  .rise {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 1106));
  }

  .rise__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1106));
  }

  .rise-grid__row {
    height: calc(40px + 20 * ((100vw - 320px) / 1106));
  }

  .rise__grid-th {
    padding-left: calc(5px + 27 * ((100vw - 320px) / 1106));
  }

  .rise__grid-th:nth-child(4) {
    min-width: calc(55px + 45 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td {
    padding-left: calc(5px + 27 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td:nth-child(1) {
    font-size: calc(12px + 8 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td:nth-child(2) {
    font-size: calc(10px + 4 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td:nth-child(3) {
    font-size: calc(10px + 4 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td:nth-child(4) {
    font-size: calc(16px + 18 * ((100vw - 320px) / 1106));
  }

  .rise__grid-td:nth-child(4) {
    min-width: calc(45px + 55 * ((100vw - 320px) / 1106));
  }
}

@media screen and (max-width: 1401px) {
  .statistics-item__title {
    min-height: 75px;
  }
}

@media screen and (max-width: 1365px) {
  .history__date--4,
  .history__date--5 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .history__dates {
    grid-template-columns: repeat(4, 1fr);
    max-width: 970px;
  }

  .history__date {
    padding-right: 20px;
    padding-left: 30px;
  }

  .history__date--5::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -90px;
    width: 110px;
    height: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#fc2c38), to(rgba(252, 44, 56, 0)));
    background: -o-linear-gradient(right, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    border-radius: 60px;
  }
}

@media screen and (max-width: 1100px) {
  .page-header__bottom-wrapper {
    display: block;
  }

  .numbers {
    margin: 0 30px 0 auto;
    float: left;
  }
}

@media screen and (max-width: 1099px) {
  .history__dates {
    grid-template-columns: repeat(3, 1fr);
    max-width: 720px;
  }

  .history__date--4::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: -90px;
    width: 110px;
    height: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#fc2c38), to(rgba(252, 44, 56, 0)));
    background: -o-linear-gradient(right, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    border-radius: 60px;
  }

  .history__date--5::before {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .vk-lists {
    display: block;
  }

  .vk-lists__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .vk-list {
    width: 25%;
  }

  .statistics-item__title {
    min-height: auto;
  }

  .statistics {
    margin-top: 40px;
  }

  .statistics::before {
    height: 53%;
  }

  .statistics__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .profit__more-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .profit__more-item {
    padding: 40px;
  }

  .profit__more-item:not(:last-child)::after {
    bottom: 0;
    top: auto;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 80%;
  }
}

@media screen and (max-width: 989px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .shareholders__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 82px;
  }

  .shareholders__title {
    text-align: center;
  }

  .statistics {
    margin-top: 0;
  }
}

@media screen and (max-width: 980px) and (max-width: 1426px) {
  .shareholders__wrapper {
    gap: calc(20px + 62 * ((100vw - 320px) / 1106));
  }
}

@media screen and (max-width: 924px) {
  .statistics-item:nth-child(2) .statistics-item__title {
    min-height: 50px;
  }
}

@media screen and (max-width: 880px) {
  .vk-lists__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .vk-list {
    width: 50%;
  }
}

@media screen and (max-width: 815px) {
  .history__dates {
    grid-template-columns: repeat(2, 1fr);
    max-width: 470px;
  }

  .history__date--4::before {
    display: none;
  }

  .history__date--5::before {
    display: block;
  }

  .history__date--3::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -90px;
    width: 110px;
    height: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#fc2c38), to(rgba(252, 44, 56, 0)));
    background: -o-linear-gradient(right, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    border-radius: 60px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__bottom-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .numbers {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 110px;
  }

  .vk-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) and (max-width: 1426px) {
  .numbers {
    margin-bottom: calc(30px + 80 * ((100vw - 320px) / 1106));
  }
}

@media screen and (max-width: 680px) {
  .joint__title {
    margin-bottom: 0;
  }

  .joint__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .joint__item {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .joint__item:nth-child(1)::after {
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    width: 80%;
  }

  .joint-item__enterprises {
    height: auto;
  }
}

@media screen and (max-width: 680px) and (max-width: 1426px) {
  .joint__item {
    padding-bottom: calc(20px + 130 * ((100vw - 320px) / 1106));
  }

  .joint__item {
    padding-top: calc(20px + 130 * ((100vw - 320px) / 1106));
  }
}

@media screen and (max-width: 676px) {
  .statistics-item:nth-child(2) .statistics-item__title {
    min-height: 75px;
  }
}

@media screen and (max-width: 600px) {
  .services-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .services-card:nth-of-type(6) {
    grid-area: auto;
  }

  .statistics-item__title {
    min-height: auto !important;
  }

  .statistics::before {
    height: 51.1%;
  }

  .statistics__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .history__dates {
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }

  .history__date {
    margin: 0 auto;
  }

  .history__date--2::before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: -90px;
    width: 110px;
    height: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#fc2c38), to(rgba(252, 44, 56, 0)));
    background: -o-linear-gradient(right, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    background: linear-gradient(270deg, #fc2c38 0%, rgba(252, 44, 56, 0) 100%);
    border-radius: 60px;
  }

  .history__date--4::before {
    display: block;
  }

  .vk-list {
    width: 100%;
  }

  .vk-lists__column:not(:last-child) {
    margin-bottom: 34px;
  }

  .vk-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .shareholders__prompt-items {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (max-width: 413px) {
  .vk-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}