// $maxWidth: 1920;
// $maxWidthContainer: 768;

// @mixin ad($property, $startSize, $minSize, $type) {
//   $addSize: $startSize - $minSize;
//   @if $type==1 {
//     // Только если меньше контейнера
//     #{$property}: $startSize + px;
//     @media (max-width: #{$maxWidthContainer + px}) {
//       #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
//     }
//   } @else if $type==2 {
//     // Только если больше контейнера
//     #{$property}: $startSize + px;
//     @media (min-width: #{$maxWidthContainer + px}) {
//       #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
//     }
//   } @else {
//     // Всегда
//     #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
//   }
// }

$startWidth: 1426;
$midWidth: 768;
$endWidth: 320;

@mixin ad($property, $startSize, $midSize, $endSize) {
  $addSizeMid: $startSize - $midSize;
  $addSizeEnd: $midSize - $endSize;
  #{$property}: $startSize + px;
  @media (min-width: #{$midWidth + px}) {
    #{$property}: calc(#{$midSize + px} + #{$addSizeMid} * ((100vw - #{$midWidth + px}) / #{$startWidth - $midWidth}))
  };
  @media (max-width: #{$midWidth + px}) {
    #{$property}: calc(#{$endSize + px} + #{$addSizeEnd} * ((100vw - #{$endWidth + px}) / #{$midWidth - $endWidth}))
  };
}

@mixin adb($property, $startSize, $endSize) {
  $addSize: $startSize - $endSize;
  #{$property}: $startSize + px;
  @media (max-width: #{$startWidth + px}) {
    #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth}));
  };
}