// Подключаем шрифты
@import "fonts.scss";
// Подключаем миксины
@import "mixins.scss";
// Подключаем переменные
@import "vars.scss";

// Подключаем компоненты страницы
@import "components/_header.scss";
@import "components/_services.scss";
@import "components/_history.scss";
@import "components/_products.scss";
@import "components/_profit.scss";
@import "components/_joint.scss";
@import "components/_shareholders.scss";
@import "components/_statistics.scss";
@import "components/_rise.scss";

.about-page {
  background-color: var(--color-bg--main);
  position: relative;
  background-image: url("../img/about-header-bg.svg");
  background-size: 100% auto;
  background-position-y: -60px;
  background-repeat: no-repeat;
  .main-wrapper {
    display: flex;
  }
}
