// Colors

:root {
  --color-bg--main: #f4f4f4;
  --color-border: #d7d7d7;
  --color-black: #000000;
  --color-gray-text: #b7b7b7;
  --color-primary: #fc2c38;
}

.about-page {
  .container {
    max-width: 1426px;
    flex: 0 1 1426px;
    width: auto;
    margin: 0 auto;
    // padding: 0 70px;
    @include adb("padding-left", 70, 10);
    @include adb("padding-right", 70, 10);
  }
}

.section-title {
  font-weight: bold;
  @include adb("font-size", 72, 32);
}
.section-subtitle {
  @include adb("font-size", 22, 14);
}
.block-title {
  @include adb("font-size", 40, 22);
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}
p,
ul {
  margin: 0;
  padding: 0;
}
