<div class="about-page__bg">
  <svg
    class="about-page__bg-pic"
    width="1426"
    height="1219"
    viewBox="0 0 1426 1219"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse
      class="main-bg-ellipse scroll-item"
      rx="104.39"
      ry="102.457"
      transform="matrix(0.866044 0.499967 -0.866044 0.499967 676.674 103.417)"
      fill="#E7E6E6"
    />
    <ellipse
      class="main-bg-ellipse scroll-item"
      rx="104.39"
      ry="102.457"
      transform="matrix(0.866044 0.499967 -0.866044 0.499967 1387.14 1115.42)"
      fill="#E6E6E6"
    />
    <ellipse
      class="main-bg-ellipse scroll-item"
      rx="74.39"
      ry="73.0124"
      transform="matrix(0.866044 0.499967 -0.866044 0.499967 -35.3431 308.696)"
      fill="#FC2C38"
    />
    <ellipse
      class="main-bg-ellipse scroll-item"
      rx="65.3374"
      ry="64.1274"
      transform="matrix(0.866044 0.499967 -0.866044 0.499967 876.048 481.728)"
      fill="white"
    />
    <ellipse
      class="main-bg-ellipse scroll-item"
      rx="303.109"
      ry="297.496"
      transform="matrix(0.866044 0.499967 -0.866044 0.499967 1397.86 308.137)"
      fill="url(#paint0_new-linear)"
    />
    <g filter="url(#filter-new-0_d)">
      <path
        d="M950.478 205.596C983.146 186.737 999.479 177.307 1017.7 172.95C1042 167.141 1069.29 167.141 1093.59 172.95C1111.81 177.307 1128.14 186.737 1160.81 205.596L1200.12 228.29C1232.79 247.149 1249.12 256.578 1256.67 267.097C1266.73 281.123 1266.73 296.882 1256.67 310.907C1249.12 321.426 1232.79 330.856 1200.12 349.715L1160.81 372.409C1128.14 391.268 1111.81 400.697 1093.59 405.054C1069.29 410.864 1042 410.864 1017.7 405.054C999.479 400.697 983.146 391.268 950.478 372.409L911.168 349.715C878.5 330.856 862.166 321.426 854.619 310.907C844.556 296.882 844.556 281.123 854.619 267.097C862.166 256.578 878.5 247.149 911.168 228.29L950.478 205.596Z"
        fill="url(#paint1_new-linear)"
      />
    </g>
    <path
      d="M950.477 200.725C983.145 181.866 999.478 172.436 1017.7 168.079C1041.99 162.269 1069.29 162.269 1093.59 168.079C1111.81 172.436 1128.14 181.866 1160.81 200.725L1200.12 223.418C1232.79 242.278 1249.12 251.707 1256.67 262.226C1266.73 276.252 1266.73 292.011 1256.67 306.036C1249.12 316.555 1232.79 325.985 1200.12 344.844L1160.81 367.538C1128.14 386.397 1111.81 395.826 1093.59 400.183C1069.29 405.993 1041.99 405.993 1017.7 400.183C999.478 395.826 983.145 386.397 950.477 367.538L911.167 344.844C878.499 325.985 862.165 316.555 854.618 306.036C844.555 292.011 844.555 276.252 854.618 262.226C862.165 251.707 878.499 242.278 911.167 223.418L950.477 200.725Z"
      fill="url(#paint2_new-linear)"
    />
    <mask
      id="mask-new0"
      mask-type="alpha"
      maskUnits="userSpaceOnUse"
      x="847"
      y="163"
      width="418"
      height="242"
    >
      <path
        d="M950.478 200.725C983.146 181.866 999.479 172.436 1017.7 168.079C1042 162.269 1069.29 162.269 1093.59 168.079C1111.81 172.436 1128.14 181.866 1160.81 200.725L1200.12 223.418C1232.79 242.278 1249.12 251.707 1256.67 262.226C1266.73 276.252 1266.73 292.011 1256.67 306.036C1249.12 316.555 1232.79 325.985 1200.12 344.844L1160.81 367.538C1128.14 386.397 1111.81 395.826 1093.59 400.183C1069.29 405.993 1042 405.993 1017.7 400.183C999.479 395.826 983.146 386.397 950.478 367.538L911.168 344.844C878.5 325.985 862.166 316.555 854.619 306.036C844.556 292.011 844.556 276.252 854.619 262.226C862.166 251.707 878.5 242.278 911.168 223.418L950.478 200.725Z"
        fill="white"
      />
    </mask>
    <g mask="url(#mask-new0)">
      <path
        class="main-bg-lines scroll-item"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1202.8 232.338C1264.41 196.769 1364.3 196.769 1425.91 232.338C1487.53 267.907 1487.53 325.576 1425.91 361.145C1364.3 396.714 1264.41 396.714 1202.8 361.145C1141.18 325.576 1141.18 267.907 1202.8 232.338ZM1475.84 203.514C1386.66 152.027 1242.05 152.027 1152.87 203.514C1063.68 255.002 1063.68 338.481 1152.87 389.968C1242.05 441.456 1386.66 441.456 1475.84 389.968C1565.03 338.481 1565.03 255.002 1475.84 203.514ZM1283.13 278.741C1300.36 268.792 1328.3 268.792 1345.54 278.741C1362.77 288.69 1362.77 304.821 1345.54 314.771C1328.3 324.72 1300.36 324.72 1283.13 314.771C1265.89 304.821 1265.89 288.69 1283.13 278.741ZM1392.34 251.719C1349.26 226.845 1279.4 226.845 1236.32 251.719C1193.23 276.592 1193.23 316.92 1236.32 341.793C1279.4 366.666 1349.26 366.666 1392.34 341.793C1435.43 316.92 1435.43 276.592 1392.34 251.719Z"
        fill="url(#paint3_new-linear)"
      />
    </g>
    <g filter="url(#filter1_new-b)">
      <path
        d="M896.253 170.569C929.976 151.1 984.653 151.1 1018.38 170.569V170.569C1052.1 190.037 1052.1 221.602 1018.38 241.07V241.07C984.653 260.539 929.976 260.539 896.253 241.07V241.07C862.53 221.602 862.53 190.037 896.253 170.569V170.569Z"
        fill="url(#paint4_new-linear)"
        fill-opacity="0.7"
      />
    </g>
    <g filter="url(#filter2_new-f)">
      <path
        d="M896.252 202.361C929.975 182.893 984.652 182.893 1018.37 202.361V202.361C1052.1 221.829 1052.1 253.394 1018.37 272.863V272.863C984.652 292.331 929.975 292.331 896.252 272.863V272.863C862.529 253.394 862.529 221.829 896.252 202.361V202.361Z"
        fill="white"
        fill-opacity="0.1"
      />
    </g>
    <g filter="url(#filter3_new-bi)">
      <path
        d="M896.253 164.84C929.976 145.371 984.653 145.371 1018.38 164.84V164.84C1052.1 184.308 1052.1 215.873 1018.38 235.341V235.341C984.653 254.81 929.976 254.81 896.253 235.341V235.341C862.53 215.873 862.53 184.308 896.253 164.84V164.84Z"
        fill="url(#paint5_new-linear)"
        fill-opacity="0.9"
      />
      <path
        d="M897.119 234.842C863.874 215.649 863.874 184.532 897.119 165.34C930.364 146.148 984.265 146.148 1017.51 165.34C1050.75 184.532 1050.75 215.649 1017.51 234.842C984.265 254.034 930.364 254.034 897.119 234.842Z"
        stroke="url(#paint6_new-linear)"
        stroke-width="2"
      />
    </g>
    <path
      class="main-bg-a scroll-item"
      d="M968.682 204.729C962.206 208.468 951.697 208.468 945.22 204.729C938.743 200.99 938.743 194.923 945.22 191.184C951.697 187.445 962.206 187.445 968.682 191.184C975.159 194.923 975.134 201.004 968.682 204.729ZM995.933 175.452C974.426 163.036 939.428 163.036 917.921 175.452C896.414 187.868 896.438 208.058 917.945 220.475C925.815 225.018 935.762 228.051 946.711 229.236L946.906 229.265L947.762 222.704L947.615 222.676C939.403 221.632 931.925 219.289 925.961 215.847C908.878 205.984 908.878 189.928 925.961 180.065C943.045 170.203 970.857 170.203 987.941 180.065C1005.02 189.928 1005.02 205.984 987.941 215.847C985.717 217.131 983.248 218.273 980.536 219.275C975.525 221.039 971.493 220.122 969.538 218.796C967.583 217.469 966.605 215.155 970.295 212.997L976.65 209.328C987.525 203.05 987.525 192.834 976.65 186.556C965.774 180.277 948.08 180.277 937.204 186.556C926.328 192.834 926.328 203.05 937.204 209.328C942.483 212.376 949.521 214.041 957 214.041C955.803 217.244 957.22 220.517 960.935 223.028C961.253 223.24 961.595 223.466 961.937 223.663C964.772 225.3 968.536 226.372 972.519 226.697C976.65 227.021 980.951 226.542 984.984 225.314C985.619 225.117 987.061 224.623 987.061 224.623L987.11 224.594C990.14 223.494 992.878 222.224 995.933 220.46C1017.44 208.072 1017.44 187.868 995.933 175.452Z"
      fill="#FC2C38"
      fill-opacity="0.6"
    />
    <defs>
      <filter
        id="filter-new-0_d"
        x="727.071"
        y="168.593"
        width="657.146"
        height="488.819"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="128" />
        <feGaussianBlur stdDeviation="60" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.211765 0 0 0 0 0.215686 0 0 0 0 0.223529 0 0 0 0.4 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow"
          result="shape"
        />
      </filter>
      <filter
        id="filter1_new-b"
        x="843.883"
        y="128.889"
        width="226.864"
        height="153.86"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImage" stdDeviation="13.539" />
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_backgroundBlur"
          result="shape"
        />
      </filter>
      <filter
        id="filter2_new-f"
        x="830.96"
        y="147.76"
        width="252.708"
        height="179.704"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur" />
      </filter>
      <filter
        id="filter3_new-bi"
        x="849.298"
        y="128.576"
        width="216.033"
        height="143.029"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feGaussianBlur in="BackgroundImage" stdDeviation="10.8312" />
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_backgroundBlur"
          result="shape"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="63.6334" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0"
        />
        <feBlend mode="normal" in2="shape" result="effect2_innerShadow" />
      </filter>
      <linearGradient
        id="paint0_new-linear"
        x1="303.109"
        y1="0"
        x2="303.109"
        y2="594.993"
        gradientUnits="userSpaceOnUse"
      >
        <stop />
        <stop offset="1" stop-color="#333333" stop-opacity="0.58" />
      </linearGradient>
      <linearGradient
        id="paint1_new-linear"
        x1="1188.39"
        y1="211.993"
        x2="1059.79"
        y2="435.325"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FC2C38" />
        <stop offset="0.223958" stop-color="#FC2C38" />
        <stop offset="0.817708" stop-color="#D3232D" />
        <stop offset="1" stop-color="#BD1C25" />
      </linearGradient>
      <linearGradient
        id="paint2_new-linear"
        x1="1172.63"
        y1="206.671"
        x2="1001.07"
        y2="503.916"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF6770" />
        <stop offset="1" stop-color="#FF2633" />
      </linearGradient>
      <linearGradient
        id="paint3_new-linear"
        x1="1037.8"
        y1="287.178"
        x2="1285.42"
        y2="144.191"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FBFBFB" />
        <stop offset="1" stop-color="#FBFBFB" stop-opacity="0.8" />
      </linearGradient>
      <linearGradient
        id="paint4_new-linear"
        x1="1131.41"
        y1="122.301"
        x2="1002.68"
        y2="345.511"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#ADADAD" />
        <stop offset="0.679925" stop-color="#E2E0E0" stop-opacity="0.6" />
        <stop offset="1" stop-color="#DCDCDC" />
      </linearGradient>
      <linearGradient
        id="paint5_new-linear"
        x1="1131.41"
        y1="116.573"
        x2="1002.68"
        y2="339.782"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" stop-opacity="0.3" />
        <stop offset="0.679925" stop-color="#E7E7E7" stop-opacity="0.6" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint6_new-linear"
        x1="1059.93"
        y1="193.485"
        x2="955.309"
        y2="295.755"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FAFAFA" stop-opacity="0.1" />
        <stop offset="1" stop-color="white" stop-opacity="0.9" />
      </linearGradient>
    </defs>
  </svg>

  <svg class="about-page__bg-pic">
    <use xlink:href="static/img/main-bg.svg#main"></use>
  </svg>
</div>
