<section class="page-header">
  <div class="container">
    <h1 class="page-title section-title">What is Mail.ru Group?</h1>
    <p class="page-subtitle section-subtitle">
      Mail.ru Group is developing a services ecosystem to help millions of
      people get on with their day-to-day tasks online.
    </p>
    <div class="page-header__bottom-wrapper">
      <div class="numbers">
        <h2 class="numbers__title">Numbers speak for themselves</h2>
        <div class="numbers__items">
          <div class="numbers__item">
            <div class="numbers__item-text">
              of the Russian internet audience
            </div>
            <div class="numbers__item-number">> 90%</div>
          </div>
          <div class="numbers__item">
            <div class="numbers__item-text">employees</div>
            <div class="numbers__item-number">> 8000</div>
          </div>
          <div class="numbers__item">
            <div class="numbers__item-text">projects</div>
            <div class="numbers__item-number">&nbsp;&nbsp;&nbsp;200 +</div>
          </div>
        </div>
      </div>
      <article class="ecosystem">
        <h2 class="ecosystem__title">Ecosystem</h2>
        <div class="ecosystem__text">
          <p>
            Mail.ru Group is building the VK ecosystem giving its users an
            opportunity to communicate, play, sell and buy goods and services,
            order food and taxi, find a job and new employees, receive
            professional training and master new skills, and stay abreast of the
            latest developments. The ecosystem’s various services share several
            common features: a voice assistant, universal user account, platform
            for mini apps and a payment system.
          </p>
          <p>
            Mail.ru Group provides a range of solutions for digitalizing
            business processes - from online promotion to cloud services.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
