<section class="page-header">
  <div class="container">
    <h1 class="page-title section-title">Что такое Mail.ru Group</h1>
    <p class="page-subtitle section-subtitle">
      Mail.ru Group развивает экосистему сервисов, которые помогают миллионам
      людей решать повседневные задачи онлайн.
    </p>
    <div class="page-header__bottom-wrapper">
      <div class="numbers">
        <h2 class="numbers__title">Цифры говорят за нас</h2>
        <div class="numbers__items">
          <div class="numbers__item">
            <div class="numbers__item-text">аудитории рунета</div>
            <div class="numbers__item-number">> 90%</div>
          </div>
          <div class="numbers__item">
            <div class="numbers__item-text">число сотрудников</div>
            <div class="numbers__item-number">> 8000</div>
          </div>
          <div class="numbers__item">
            <div class="numbers__item-text">проектов</div>
            <div class="numbers__item-number">&nbsp;&nbsp;&nbsp;200 +</div>
          </div>
        </div>
      </div>
      <article class="ecosystem">
        <h2 class="ecosystem__title">Экосистема</h2>
        <div class="ecosystem__text">
          <p>
            В экосистеме VK, которую строит Mail.ru Group, можно общаться,
            играть, продавать и находить товары и услуги, заказывать еду
            и такси, искать работу и сотрудников, осваивать профессии и навыки,
            всегда быть в курсе последних событий. Разные сервисы экосистемы
            объединяют общие элементы: голосовой ассистент, универсальная
            учетная запись, платформа мини-приложений и платежная система.
          </p>
          <p>
            У Mail.ru Group также есть комплекс продуктов и услуг для
            цифровизации бизнес-процессов — от интернет-продвижения до облачных
            сервисов.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
