<section class="history">
  <div class="container">
    <h2 class="history__title section-title">History</h2>
    <p class="history__subtitle section-subtitle">
      A brief overview of our milestones
    </p>
    <div class="history__dates">
      <div class="history__date history-date history__date--1 scroll-item">
        <p class="history-date__start">1998</p>
        <p class="history-date__description">
          The launch of Mail.ru email and portal
        </p>
        <p class="history-date__end">2001</p>
      </div>
      <div class="history__date history-date history__date--2 scroll-item">
        <p class="history-date__end">2007</p>
        <p class="history-date__description">Expansion into social media</p>
      </div>
      <div class="history__date history-date history__date--3 scroll-item">
        <p class="history-date__description">
          Expansion into the gaming market
        </p>
        <p class="history-date__end">2008</p>
      </div>
      <div class="history__date history-date history__date--4 scroll-item">
        <p class="history-date__start">2015</p>
        <p class="history-date__description">
          Expansion into the O2O and e-commerce markets
        </p>
        <p class="history-date__end">2019</p>
      </div>
      <div class="history__date history-date history__date--5 scroll-item">
        <p class="history-date__end">2021</p>
        <p class="history-date__description">
          Development of an ecosystem and expansion into new segments
        </p>
      </div>
    </div>
  </div>
</section>
