<section class="history">
  <div class="container">
    <h2 class="history__title section-title">История</h2>
    <p class="history__subtitle section-subtitle">
      Основные даты в жизни компании
    </p>
    <div class="history__dates">
      <div class="history__date history-date history__date--1 scroll-item">
        <p class="history-date__start">1998</p>
        <p class="history-date__description">Запуск почты и портала Mail.ru</p>
        <p class="history-date__end">2001</p>
      </div>
      <div class="history__date history-date history__date--2 scroll-item">
        <p class="history-date__end">2007</p>
        <p class="history-date__description">Выход на рынок соцcетей</p>
      </div>
      <div class="history__date history-date history__date--3 scroll-item">
        <p class="history-date__description">Выход на игровой рынок</p>
        <p class="history-date__end">2008</p>
      </div>
      <div class="history__date history-date history__date--4 scroll-item">
        <p class="history-date__start">2015</p>
        <p class="history-date__description">
          Выход на рынки О2О и электронной коммерции
        </p>
        <p class="history-date__end">2019</p>
      </div>
      <div class="history__date history-date history__date--5 scroll-item">
        <p class="history-date__end">2021</p>
        <p class="history-date__description">
          Развитие экосистемы и освоение новых направлений
        </p>
      </div>
    </div>
  </div>
</section>
