<section class="joint">
  <div class="container">
    <h2 class="joint__title block-title">Совместные предприятия</h2>
    <div class="joint__items">
      <div class="joint__item joint-item">
        <div class="joint-item__title">O2O-сервисы</div>
        <div class="joint-item__enterprises">
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-1.svg"
              alt=""
            />
          </div>
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-2.svg"
              alt=""
            />
          </div>
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-3.svg"
              alt=""
            />
          </div>
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-4.svg"
              alt=""
            />
          </div>
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-5.svg"
              alt=""
            />
          </div>
          <div class="joint-item__enterprise-logo">
            <img
              class="joint-item__enterprise-logo-pic"
              src="img/joint-item-enterprises-6.svg"
              alt=""
            />
          </div>
        </div>
        <div class="joint-item__diagram">
          <div
            class="joint-item__diagram-percent"
            data-percent="45"
            data-animated="0"
          >
            <span>45</span>%
          </div>
          <div class="joint-item__diagram-description">равные доли</div>
        </div>
        <div class="joint-item__description">Mail.ru Group и Сбер</div>
      </div>
      <div class="joint__item joint-item">
        <div class="joint-item__title">AliExpress Россия</div>
        <div class="joint-item__enterprises">
          <div class="joint-item__enterprise-logo">
            <img src="img/joint-item-enterprises-7.png" alt="" />
          </div>
        </div>
        <div class="joint-item__diagram">
          <div
            class="joint-item__diagram-percent"
            data-percent="15"
            data-animated="0"
          >
            <span>15</span>%
          </div>
        </div>
        <div class="joint-item__description">Mail.ru Group</div>
      </div>
    </div>
  </div>
</section>
