<section class="profit">
  <div class="container">
    <div class="profit__prompt">
      <span class="profit__prompt-item"> Revenue </span>
      <span class="profit__prompt-item"> Profit </span>
      <span class="profit__prompt-item"> EBITDA </span>
    </div>
  </div>
  <div class="profit__diagram profit-diagram">
    <div class="profit-diagram__background">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="container">
      <svg
        width="1056"
        height="470"
        viewBox="0 0 1056 470"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="profit-diagram-pic"
      >
        <path
          d="M12.997 424.14C12.437 424.14 11.9097 424.028 11.415 423.804C10.9203 423.58 10.491 423.253 10.127 422.824C9.76299 422.395 9.47366 421.867 9.25899 421.242C9.04433 420.617 8.93699 419.903 8.93699 419.1C8.93699 418.297 9.04433 417.583 9.25899 416.958C9.47366 416.333 9.76299 415.805 10.127 415.376C10.491 414.947 10.9203 414.62 11.415 414.396C11.9097 414.172 12.437 414.06 12.997 414.06C13.557 414.06 14.0843 414.172 14.579 414.396C15.0737 414.62 15.503 414.947 15.867 415.376C16.231 415.805 16.5203 416.333 16.735 416.958C16.9497 417.583 17.057 418.297 17.057 419.1C17.057 419.903 16.9497 420.617 16.735 421.242C16.5203 421.867 16.231 422.395 15.867 422.824C15.503 423.253 15.0737 423.58 14.579 423.804C14.0843 424.028 13.557 424.14 12.997 424.14ZM12.997 422.74C13.333 422.74 13.6503 422.665 13.949 422.516C14.257 422.367 14.523 422.143 14.747 421.844C14.9803 421.536 15.167 421.158 15.307 420.71C15.447 420.253 15.517 419.716 15.517 419.1C15.517 418.484 15.447 417.952 15.307 417.504C15.167 417.047 14.9803 416.669 14.747 416.37C14.523 416.062 14.257 415.833 13.949 415.684C13.6503 415.535 13.333 415.46 12.997 415.46C12.661 415.46 12.339 415.535 12.031 415.684C11.7323 415.833 11.4663 416.062 11.233 416.37C11.009 416.669 10.827 417.047 10.687 417.504C10.547 417.952 10.477 418.484 10.477 419.1C10.477 419.716 10.547 420.253 10.687 420.71C10.827 421.158 11.009 421.536 11.233 421.844C11.4663 422.143 11.7323 422.367 12.031 422.516C12.339 422.665 12.661 422.74 12.997 422.74Z"
          fill="#979797"
        />
        <path
          d="M4.45809 340.36L8.93809 334.2H10.7581V340.64H12.0181V342.04H10.7581V344H9.21809V342.04H4.45809V340.36ZM9.21809 340.64V336.09L5.92809 340.64H9.21809ZM17.1259 344.14C16.5659 344.14 16.0386 344.028 15.5439 343.804C15.0492 343.58 14.6199 343.253 14.2559 342.824C13.8919 342.395 13.6026 341.867 13.3879 341.242C13.1732 340.617 13.0659 339.903 13.0659 339.1C13.0659 338.297 13.1732 337.583 13.3879 336.958C13.6026 336.333 13.8919 335.805 14.2559 335.376C14.6199 334.947 15.0492 334.62 15.5439 334.396C16.0386 334.172 16.5659 334.06 17.1259 334.06C17.6859 334.06 18.2132 334.172 18.7079 334.396C19.2026 334.62 19.6319 334.947 19.9959 335.376C20.3599 335.805 20.6492 336.333 20.8639 336.958C21.0786 337.583 21.1859 338.297 21.1859 339.1C21.1859 339.903 21.0786 340.617 20.8639 341.242C20.6492 341.867 20.3599 342.395 19.9959 342.824C19.6319 343.253 19.2026 343.58 18.7079 343.804C18.2132 344.028 17.6859 344.14 17.1259 344.14ZM17.1259 342.74C17.4619 342.74 17.7792 342.665 18.0779 342.516C18.3859 342.367 18.6519 342.143 18.8759 341.844C19.1092 341.536 19.2959 341.158 19.4359 340.71C19.5759 340.253 19.6459 339.716 19.6459 339.1C19.6459 338.484 19.5759 337.952 19.4359 337.504C19.2959 337.047 19.1092 336.669 18.8759 336.37C18.6519 336.062 18.3859 335.833 18.0779 335.684C17.7792 335.535 17.4619 335.46 17.1259 335.46C16.7899 335.46 16.4679 335.535 16.1599 335.684C15.8612 335.833 15.5952 336.062 15.3619 336.37C15.1379 336.669 14.9559 337.047 14.8159 337.504C14.6759 337.952 14.6059 338.484 14.6059 339.1C14.6059 339.716 14.6759 340.253 14.8159 340.71C14.9559 341.158 15.1379 341.536 15.3619 341.844C15.5952 342.143 15.8612 342.367 16.1599 342.516C16.4679 342.665 16.7899 342.74 17.1259 342.74Z"
          fill="#979797"
        />
        <path
          d="M8.23809 254.2H9.91809L7.67809 257.63C7.72475 257.621 7.77609 257.607 7.83209 257.588C7.88809 257.579 7.95342 257.574 8.02809 257.574C8.11209 257.565 8.20542 257.56 8.30809 257.56C8.78409 257.56 9.22275 257.649 9.62409 257.826C10.0348 257.994 10.3894 258.227 10.6881 258.526C10.9961 258.825 11.2341 259.175 11.4021 259.576C11.5794 259.968 11.6681 260.393 11.6681 260.85C11.6681 261.307 11.5794 261.737 11.4021 262.138C11.2341 262.53 10.9914 262.875 10.6741 263.174C10.3661 263.473 9.99742 263.711 9.56809 263.888C9.13875 264.056 8.67209 264.14 8.16809 264.14C7.66409 264.14 7.19742 264.056 6.76809 263.888C6.33875 263.711 5.96542 263.473 5.64809 263.174C5.34009 262.875 5.09742 262.53 4.92009 262.138C4.75209 261.737 4.66809 261.307 4.66809 260.85C4.66809 260.57 4.70542 260.299 4.78009 260.038C4.85475 259.777 4.93409 259.543 5.01809 259.338C5.12075 259.105 5.23742 258.885 5.36809 258.68L8.23809 254.2ZM8.16809 262.74C8.44809 262.74 8.70475 262.693 8.93809 262.6C9.18075 262.497 9.39075 262.362 9.56809 262.194C9.74542 262.017 9.88075 261.816 9.97409 261.592C10.0768 261.359 10.1281 261.111 10.1281 260.85C10.1281 260.589 10.0768 260.346 9.97409 260.122C9.88075 259.889 9.74542 259.688 9.56809 259.52C9.39075 259.343 9.18075 259.207 8.93809 259.114C8.70475 259.011 8.44809 258.96 8.16809 258.96C7.88809 258.96 7.62675 259.011 7.38409 259.114C7.15075 259.207 6.94542 259.343 6.76809 259.52C6.59075 259.688 6.45075 259.889 6.34809 260.122C6.25475 260.346 6.20809 260.589 6.20809 260.85C6.20809 261.111 6.25475 261.359 6.34809 261.592C6.45075 261.816 6.59075 262.017 6.76809 262.194C6.94542 262.362 7.15075 262.497 7.38409 262.6C7.62675 262.693 7.88809 262.74 8.16809 262.74ZM17.1259 264.14C16.5659 264.14 16.0386 264.028 15.5439 263.804C15.0492 263.58 14.6199 263.253 14.2559 262.824C13.8919 262.395 13.6026 261.867 13.3879 261.242C13.1732 260.617 13.0659 259.903 13.0659 259.1C13.0659 258.297 13.1732 257.583 13.3879 256.958C13.6026 256.333 13.8919 255.805 14.2559 255.376C14.6199 254.947 15.0492 254.62 15.5439 254.396C16.0386 254.172 16.5659 254.06 17.1259 254.06C17.6859 254.06 18.2132 254.172 18.7079 254.396C19.2026 254.62 19.6319 254.947 19.9959 255.376C20.3599 255.805 20.6492 256.333 20.8639 256.958C21.0786 257.583 21.1859 258.297 21.1859 259.1C21.1859 259.903 21.0786 260.617 20.8639 261.242C20.6492 261.867 20.3599 262.395 19.9959 262.824C19.6319 263.253 19.2026 263.58 18.7079 263.804C18.2132 264.028 17.6859 264.14 17.1259 264.14ZM17.1259 262.74C17.4619 262.74 17.7792 262.665 18.0779 262.516C18.3859 262.367 18.6519 262.143 18.8759 261.844C19.1092 261.536 19.2959 261.158 19.4359 260.71C19.5759 260.253 19.6459 259.716 19.6459 259.1C19.6459 258.484 19.5759 257.952 19.4359 257.504C19.2959 257.047 19.1092 256.669 18.8759 256.37C18.6519 256.062 18.3859 255.833 18.0779 255.684C17.7792 255.535 17.4619 255.46 17.1259 255.46C16.7899 255.46 16.4679 255.535 16.1599 255.684C15.8612 255.833 15.5952 256.062 15.3619 256.37C15.1379 256.669 14.9559 257.047 14.8159 257.504C14.6759 257.952 14.6059 258.484 14.6059 259.1C14.6059 259.716 14.6759 260.253 14.8159 260.71C14.9559 261.158 15.1379 261.536 15.3619 261.844C15.5952 262.143 15.8612 262.367 16.1599 262.516C16.4679 262.665 16.7899 262.74 17.1259 262.74Z"
          fill="#979797"
        />
        <path
          d="M7.66973 181.2C7.66973 180.743 7.75373 180.36 7.92173 180.052C8.09906 179.744 8.29039 179.497 8.49573 179.31C8.73839 179.086 9.01373 178.904 9.32173 178.764V178.736C9.08839 178.615 8.88306 178.456 8.70573 178.26C8.54706 178.092 8.40239 177.877 8.27173 177.616C8.15039 177.355 8.08973 177.033 8.08973 176.65C8.08973 176.295 8.15973 175.964 8.29973 175.656C8.44906 175.339 8.65439 175.063 8.91573 174.83C9.18639 174.597 9.50839 174.41 9.88173 174.27C10.2644 174.13 10.6937 174.06 11.1697 174.06C11.6457 174.06 12.0704 174.13 12.4437 174.27C12.8264 174.41 13.1484 174.597 13.4097 174.83C13.6804 175.063 13.8857 175.339 14.0257 175.656C14.1751 175.964 14.2497 176.295 14.2497 176.65C14.2497 177.033 14.1844 177.355 14.0537 177.616C13.9324 177.877 13.7924 178.092 13.6337 178.26C13.4564 178.456 13.2511 178.615 13.0177 178.736V178.764C13.3257 178.904 13.6011 179.086 13.8437 179.31C14.0584 179.497 14.2497 179.744 14.4177 180.052C14.5857 180.36 14.6697 180.743 14.6697 181.2C14.6697 181.601 14.5857 181.984 14.4177 182.348C14.2591 182.703 14.0304 183.015 13.7317 183.286C13.4331 183.547 13.0644 183.757 12.6257 183.916C12.1964 184.065 11.7111 184.14 11.1697 184.14C10.6284 184.14 10.1384 184.065 9.69973 183.916C9.27039 183.757 8.90639 183.547 8.60773 183.286C8.30906 183.015 8.07573 182.703 7.90773 182.348C7.74906 181.984 7.66973 181.601 7.66973 181.2ZM11.1697 179.52C10.5351 179.52 10.0497 179.674 9.71373 179.982C9.37773 180.29 9.20973 180.673 9.20973 181.13C9.20973 181.587 9.37773 181.97 9.71373 182.278C10.0497 182.586 10.5351 182.74 11.1697 182.74C11.8044 182.74 12.2897 182.586 12.6257 182.278C12.9617 181.97 13.1297 181.587 13.1297 181.13C13.1297 180.673 12.9617 180.29 12.6257 179.982C12.2897 179.674 11.8044 179.52 11.1697 179.52ZM11.1697 175.46C10.6751 175.46 10.2924 175.586 10.0217 175.838C9.76039 176.081 9.62973 176.398 9.62973 176.79C9.62973 177.182 9.76039 177.504 10.0217 177.756C10.2924 177.999 10.6751 178.12 11.1697 178.12C11.6644 178.12 12.0424 177.999 12.3037 177.756C12.5744 177.504 12.7097 177.182 12.7097 176.79C12.7097 176.398 12.5744 176.081 12.3037 175.838C12.0424 175.586 11.6644 175.46 11.1697 175.46ZM20.1943 184.14C19.6343 184.14 19.1069 184.028 18.6123 183.804C18.1176 183.58 17.6883 183.253 17.3243 182.824C16.9603 182.395 16.6709 181.867 16.4563 181.242C16.2416 180.617 16.1343 179.903 16.1343 179.1C16.1343 178.297 16.2416 177.583 16.4563 176.958C16.6709 176.333 16.9603 175.805 17.3243 175.376C17.6883 174.947 18.1176 174.62 18.6123 174.396C19.1069 174.172 19.6343 174.06 20.1943 174.06C20.7543 174.06 21.2816 174.172 21.7763 174.396C22.2709 174.62 22.7003 174.947 23.0643 175.376C23.4283 175.805 23.7176 176.333 23.9323 176.958C24.1469 177.583 24.2543 178.297 24.2543 179.1C24.2543 179.903 24.1469 180.617 23.9323 181.242C23.7176 181.867 23.4283 182.395 23.0643 182.824C22.7003 183.253 22.2709 183.58 21.7763 183.804C21.2816 184.028 20.7543 184.14 20.1943 184.14ZM20.1943 182.74C20.5303 182.74 20.8476 182.665 21.1463 182.516C21.4543 182.367 21.7203 182.143 21.9443 181.844C22.1776 181.536 22.3643 181.158 22.5043 180.71C22.6443 180.253 22.7143 179.716 22.7143 179.1C22.7143 178.484 22.6443 177.952 22.5043 177.504C22.3643 177.047 22.1776 176.669 21.9443 176.37C21.7203 176.062 21.4543 175.833 21.1463 175.684C20.8476 175.535 20.5303 175.46 20.1943 175.46C19.8583 175.46 19.5363 175.535 19.2283 175.684C18.9296 175.833 18.6636 176.062 18.4303 176.37C18.2063 176.669 18.0243 177.047 17.8843 177.504C17.7443 177.952 17.6743 178.484 17.6743 179.1C17.6743 179.716 17.7443 180.253 17.8843 180.71C18.0243 181.158 18.2063 181.536 18.4303 181.844C18.6636 182.143 18.9296 182.367 19.2283 182.516C19.5363 182.665 19.8583 182.74 20.1943 182.74Z"
          fill="#979797"
        />
        <path
          d="M5.98316 96.51H4.23316V95.53C4.5505 95.4927 4.82116 95.4367 5.04516 95.362C5.26916 95.2873 5.4605 95.194 5.61916 95.082C5.78716 94.9607 5.92716 94.83 6.03916 94.69C6.15116 94.5407 6.24916 94.3773 6.33316 94.2H7.52316V104H5.98316V96.51ZM13.7548 104.14C13.1948 104.14 12.6675 104.028 12.1728 103.804C11.6781 103.58 11.2488 103.253 10.8848 102.824C10.5208 102.395 10.2315 101.867 10.0168 101.242C9.80214 100.617 9.6948 99.9027 9.6948 99.1C9.6948 98.2973 9.80214 97.5833 10.0168 96.958C10.2315 96.3327 10.5208 95.8053 10.8848 95.376C11.2488 94.9467 11.6781 94.62 12.1728 94.396C12.6675 94.172 13.1948 94.06 13.7548 94.06C14.3148 94.06 14.8421 94.172 15.3368 94.396C15.8315 94.62 16.2608 94.9467 16.6248 95.376C16.9888 95.8053 17.2781 96.3327 17.4928 96.958C17.7075 97.5833 17.8148 98.2973 17.8148 99.1C17.8148 99.9027 17.7075 100.617 17.4928 101.242C17.2781 101.867 16.9888 102.395 16.6248 102.824C16.2608 103.253 15.8315 103.58 15.3368 103.804C14.8421 104.028 14.3148 104.14 13.7548 104.14ZM13.7548 102.74C14.0908 102.74 14.4081 102.665 14.7068 102.516C15.0148 102.367 15.2808 102.143 15.5048 101.844C15.7381 101.536 15.9248 101.158 16.0648 100.71C16.2048 100.253 16.2748 99.716 16.2748 99.1C16.2748 98.484 16.2048 97.952 16.0648 97.504C15.9248 97.0467 15.7381 96.6687 15.5048 96.37C15.2808 96.062 15.0148 95.8333 14.7068 95.684C14.4081 95.5347 14.0908 95.46 13.7548 95.46C13.4188 95.46 13.0968 95.5347 12.7888 95.684C12.4901 95.8333 12.2241 96.062 11.9908 96.37C11.7668 96.6687 11.5848 97.0467 11.4448 97.504C11.3048 97.952 11.2348 98.484 11.2348 99.1C11.2348 99.716 11.3048 100.253 11.4448 100.71C11.5848 101.158 11.7668 101.536 11.9908 101.844C12.2241 102.143 12.4901 102.367 12.7888 102.516C13.0968 102.665 13.4188 102.74 13.7548 102.74ZM23.4208 104.14C22.8608 104.14 22.3335 104.028 21.8388 103.804C21.3442 103.58 20.9148 103.253 20.5508 102.824C20.1868 102.395 19.8975 101.867 19.6828 101.242C19.4682 100.617 19.3608 99.9027 19.3608 99.1C19.3608 98.2973 19.4682 97.5833 19.6828 96.958C19.8975 96.3327 20.1868 95.8053 20.5508 95.376C20.9148 94.9467 21.3442 94.62 21.8388 94.396C22.3335 94.172 22.8608 94.06 23.4208 94.06C23.9808 94.06 24.5082 94.172 25.0028 94.396C25.4975 94.62 25.9268 94.9467 26.2908 95.376C26.6548 95.8053 26.9442 96.3327 27.1588 96.958C27.3735 97.5833 27.4808 98.2973 27.4808 99.1C27.4808 99.9027 27.3735 100.617 27.1588 101.242C26.9442 101.867 26.6548 102.395 26.2908 102.824C25.9268 103.253 25.4975 103.58 25.0028 103.804C24.5082 104.028 23.9808 104.14 23.4208 104.14ZM23.4208 102.74C23.7568 102.74 24.0742 102.665 24.3728 102.516C24.6808 102.367 24.9468 102.143 25.1708 101.844C25.4042 101.536 25.5908 101.158 25.7308 100.71C25.8708 100.253 25.9408 99.716 25.9408 99.1C25.9408 98.484 25.8708 97.952 25.7308 97.504C25.5908 97.0467 25.4042 96.6687 25.1708 96.37C24.9468 96.062 24.6808 95.8333 24.3728 95.684C24.0742 95.5347 23.7568 95.46 23.4208 95.46C23.0848 95.46 22.7628 95.5347 22.4548 95.684C22.1562 95.8333 21.8902 96.062 21.6568 96.37C21.4328 96.6687 21.2508 97.0467 21.1108 97.504C20.9708 97.952 20.9008 98.484 20.9008 99.1C20.9008 99.716 20.9708 100.253 21.1108 100.71C21.2508 101.158 21.4328 101.536 21.6568 101.844C21.8902 102.143 22.1562 102.367 22.4548 102.516C22.7628 102.665 23.0848 102.74 23.4208 102.74Z"
          fill="#979797"
        />
        <rect
          x="234"
          y="298"
          width="84"
          height="142"
          fill="url(#paint0_linear)"
        />
        <rect x="234" y="378" width="42" height="62" fill="#333333" />
        <rect x="276" y="400" width="42" height="40" fill="#979797" />
        <path
          d="M267.6 463.53V465H261.02C261.02 464.263 261.142 463.637 261.384 463.124C261.636 462.601 261.949 462.153 262.322 461.78C262.696 461.397 263.102 461.066 263.54 460.786C263.979 460.497 264.385 460.217 264.758 459.946C265.132 459.675 265.44 459.395 265.682 459.106C265.934 458.817 266.06 458.471 266.06 458.07C266.06 457.613 265.906 457.244 265.598 456.964C265.3 456.675 264.87 456.53 264.31 456.53C263.946 456.53 263.643 456.6 263.4 456.74C263.158 456.88 262.962 457.029 262.812 457.188C262.644 457.384 262.514 457.608 262.42 457.86L261.16 457.3C261.291 456.88 261.492 456.507 261.762 456.18C261.996 455.9 262.318 455.643 262.728 455.41C263.139 455.177 263.666 455.06 264.31 455.06C264.805 455.06 265.253 455.139 265.654 455.298C266.056 455.447 266.401 455.662 266.69 455.942C266.98 456.213 267.204 456.53 267.362 456.894C267.521 457.258 267.6 457.65 267.6 458.07C267.6 458.546 267.507 458.961 267.32 459.316C267.143 459.671 266.91 459.993 266.62 460.282C266.331 460.562 266.004 460.823 265.64 461.066C265.276 461.299 264.917 461.542 264.562 461.794C264.217 462.037 263.89 462.298 263.582 462.578C263.274 462.849 263.027 463.166 262.84 463.53H267.6ZM273.194 465.14C272.634 465.14 272.107 465.028 271.612 464.804C271.118 464.58 270.688 464.253 270.324 463.824C269.96 463.395 269.671 462.867 269.456 462.242C269.242 461.617 269.134 460.903 269.134 460.1C269.134 459.297 269.242 458.583 269.456 457.958C269.671 457.333 269.96 456.805 270.324 456.376C270.688 455.947 271.118 455.62 271.612 455.396C272.107 455.172 272.634 455.06 273.194 455.06C273.754 455.06 274.282 455.172 274.776 455.396C275.271 455.62 275.7 455.947 276.064 456.376C276.428 456.805 276.718 457.333 276.932 457.958C277.147 458.583 277.254 459.297 277.254 460.1C277.254 460.903 277.147 461.617 276.932 462.242C276.718 462.867 276.428 463.395 276.064 463.824C275.7 464.253 275.271 464.58 274.776 464.804C274.282 465.028 273.754 465.14 273.194 465.14ZM273.194 463.74C273.53 463.74 273.848 463.665 274.146 463.516C274.454 463.367 274.72 463.143 274.944 462.844C275.178 462.536 275.364 462.158 275.504 461.71C275.644 461.253 275.714 460.716 275.714 460.1C275.714 459.484 275.644 458.952 275.504 458.504C275.364 458.047 275.178 457.669 274.944 457.37C274.72 457.062 274.454 456.833 274.146 456.684C273.848 456.535 273.53 456.46 273.194 456.46C272.858 456.46 272.536 456.535 272.228 456.684C271.93 456.833 271.664 457.062 271.43 457.37C271.206 457.669 271.024 458.047 270.884 458.504C270.744 458.952 270.674 459.484 270.674 460.1C270.674 460.716 270.744 461.253 270.884 461.71C271.024 462.158 271.206 462.536 271.43 462.844C271.664 463.143 271.93 463.367 272.228 463.516C272.536 463.665 272.858 463.74 273.194 463.74ZM280.27 457.51H278.52V456.53C278.838 456.493 279.108 456.437 279.332 456.362C279.556 456.287 279.748 456.194 279.906 456.082C280.074 455.961 280.214 455.83 280.326 455.69C280.438 455.541 280.536 455.377 280.62 455.2H281.81V465H280.27V457.51ZM284.822 462.62C284.981 462.825 285.177 463.012 285.41 463.18C285.606 463.32 285.853 463.451 286.152 463.572C286.451 463.684 286.801 463.74 287.202 463.74C287.837 463.74 288.331 463.567 288.686 463.222C289.05 462.867 289.232 462.41 289.232 461.85C289.232 461.29 289.05 460.837 288.686 460.492C288.331 460.137 287.837 459.96 287.202 459.96C286.903 459.96 286.642 460.011 286.418 460.114C286.194 460.207 286.003 460.319 285.844 460.45C285.667 460.59 285.513 460.753 285.382 460.94L284.262 460.8L284.612 455.2H290.142V456.67H285.942L285.802 459.05C285.933 458.957 286.082 458.873 286.25 458.798C286.399 458.742 286.577 458.691 286.782 458.644C286.987 458.588 287.221 458.56 287.482 458.56C287.958 458.56 288.397 458.644 288.798 458.812C289.199 458.971 289.545 459.199 289.834 459.498C290.133 459.787 290.361 460.133 290.52 460.534C290.688 460.935 290.772 461.374 290.772 461.85C290.772 462.326 290.688 462.765 290.52 463.166C290.352 463.567 290.109 463.917 289.792 464.216C289.484 464.505 289.111 464.734 288.672 464.902C288.233 465.061 287.743 465.14 287.202 465.14C286.623 465.14 286.119 465.065 285.69 464.916C285.261 464.757 284.906 464.585 284.626 464.398C284.29 464.183 284.005 463.941 283.772 463.67L284.822 462.62Z"
          fill="#979797"
        />
        <rect x="70.5" y="392.5" width="83" height="47" stroke="#FC2C38" />
        <rect x="70" y="424" width="42" height="16" fill="#333333" />
        <path
          d="M84.24 415.16C83.5787 415.16 83.0027 415.075 82.512 414.904C82.0213 414.723 81.616 414.525 81.296 414.312C80.912 414.067 80.5867 413.789 80.32 413.48L81.52 412.28C81.7013 412.515 81.9253 412.728 82.192 412.92C82.416 413.08 82.6987 413.229 83.04 413.368C83.3813 413.496 83.7813 413.56 84.24 413.56C84.9653 413.56 85.52 413.384 85.904 413.032C86.288 412.68 86.48 412.243 86.48 411.72C86.48 411.24 86.288 410.829 85.904 410.488C85.52 410.136 84.9653 409.96 84.24 409.96H83.04V408.28H84.24C84.848 408.28 85.3067 408.141 85.616 407.864C85.9253 407.576 86.08 407.208 86.08 406.76C86.08 406.312 85.9253 405.949 85.616 405.672C85.3067 405.384 84.848 405.24 84.24 405.24C83.8667 405.24 83.5307 405.299 83.232 405.416C82.9333 405.523 82.6773 405.651 82.464 405.8C82.2293 405.96 82.0213 406.147 81.84 406.36L80.64 405.16C80.9067 404.872 81.216 404.616 81.568 404.392C81.8773 404.211 82.256 404.04 82.704 403.88C83.152 403.72 83.664 403.64 84.24 403.64C84.8053 403.64 85.3067 403.72 85.744 403.88C86.192 404.04 86.5707 404.253 86.88 404.52C87.1893 404.787 87.424 405.101 87.584 405.464C87.7547 405.816 87.84 406.195 87.84 406.6C87.84 407.059 87.7547 407.443 87.584 407.752C87.4133 408.061 87.2267 408.317 87.024 408.52C86.7787 408.744 86.5013 408.925 86.192 409.064V409.096C86.576 409.235 86.9173 409.427 87.216 409.672C87.472 409.885 87.7067 410.163 87.92 410.504C88.1333 410.845 88.24 411.277 88.24 411.8C88.24 412.259 88.144 412.696 87.952 413.112C87.7707 413.517 87.5093 413.875 87.168 414.184C86.8267 414.483 86.4053 414.723 85.904 414.904C85.4133 415.075 84.8587 415.16 84.24 415.16ZM90.4869 413.08L91.9269 413.88L89.9269 417.08L88.8869 416.52L90.4869 413.08ZM97.3625 403.8H99.2825L96.7225 407.72C96.7758 407.709 96.8345 407.693 96.8985 407.672C96.9625 407.661 97.0372 407.656 97.1225 407.656C97.2185 407.645 97.3252 407.64 97.4425 407.64C97.9865 407.64 98.4878 407.741 98.9465 407.944C99.4158 408.136 99.8212 408.403 100.163 408.744C100.515 409.085 100.787 409.485 100.979 409.944C101.181 410.392 101.283 410.877 101.283 411.4C101.283 411.923 101.181 412.413 100.979 412.872C100.787 413.32 100.509 413.715 100.147 414.056C99.7945 414.397 99.3732 414.669 98.8825 414.872C98.3918 415.064 97.8585 415.16 97.2825 415.16C96.7065 415.16 96.1732 415.064 95.6825 414.872C95.1918 414.669 94.7652 414.397 94.4025 414.056C94.0505 413.715 93.7732 413.32 93.5705 412.872C93.3785 412.413 93.2825 411.923 93.2825 411.4C93.2825 411.08 93.3252 410.771 93.4105 410.472C93.4958 410.173 93.5865 409.907 93.6825 409.672C93.7998 409.405 93.9332 409.155 94.0825 408.92L97.3625 403.8ZM97.2825 413.56C97.6025 413.56 97.8958 413.507 98.1625 413.4C98.4398 413.283 98.6798 413.128 98.8825 412.936C99.0852 412.733 99.2398 412.504 99.3465 412.248C99.4638 411.981 99.5225 411.699 99.5225 411.4C99.5225 411.101 99.4638 410.824 99.3465 410.568C99.2398 410.301 99.0852 410.072 98.8825 409.88C98.6798 409.677 98.4398 409.523 98.1625 409.416C97.8958 409.299 97.6025 409.24 97.2825 409.24C96.9625 409.24 96.6638 409.299 96.3865 409.416C96.1198 409.523 95.8852 409.677 95.6825 409.88C95.4798 410.072 95.3198 410.301 95.2025 410.568C95.0958 410.824 95.0425 411.101 95.0425 411.4C95.0425 411.699 95.0958 411.981 95.2025 412.248C95.3198 412.504 95.4798 412.733 95.6825 412.936C95.8852 413.128 96.1198 413.283 96.3865 413.4C96.6638 413.507 96.9625 413.56 97.2825 413.56Z"
          fill="#333333"
        />
        <path
          d="M106.085 379.08C106.031 379.091 105.973 379.101 105.909 379.112C105.781 379.144 105.599 379.16 105.365 379.16C104.821 379.16 104.314 379.064 103.845 378.872C103.386 378.669 102.981 378.397 102.629 378.056C102.287 377.715 102.015 377.32 101.813 376.872C101.621 376.413 101.525 375.923 101.525 375.4C101.525 374.877 101.621 374.392 101.813 373.944C102.015 373.485 102.293 373.085 102.645 372.744C103.007 372.403 103.434 372.136 103.925 371.944C104.415 371.741 104.949 371.64 105.525 371.64C106.101 371.64 106.634 371.741 107.125 371.944C107.615 372.136 108.037 372.403 108.389 372.744C108.751 373.085 109.029 373.485 109.221 373.944C109.423 374.392 109.525 374.877 109.525 375.4C109.525 375.72 109.482 376.029 109.397 376.328C109.322 376.627 109.231 376.888 109.125 377.112C109.007 377.389 108.874 377.645 108.725 377.88L105.445 383H103.525L106.085 379.08ZM103.285 375.4C103.285 375.699 103.338 375.981 103.445 376.248C103.562 376.504 103.722 376.733 103.925 376.936C104.127 377.128 104.362 377.283 104.629 377.4C104.906 377.507 105.205 377.56 105.525 377.56C105.845 377.56 106.138 377.507 106.405 377.4C106.682 377.283 106.922 377.128 107.125 376.936C107.327 376.733 107.482 376.504 107.589 376.248C107.706 375.981 107.765 375.699 107.765 375.4C107.765 375.101 107.706 374.824 107.589 374.568C107.482 374.301 107.327 374.072 107.125 373.88C106.922 373.677 106.682 373.523 106.405 373.416C106.138 373.299 105.845 373.24 105.525 373.24C105.205 373.24 104.906 373.299 104.629 373.416C104.362 373.523 104.127 373.677 103.925 373.88C103.722 374.072 103.562 374.301 103.445 374.568C103.338 374.824 103.285 375.101 103.285 375.4ZM111.682 381.08L113.122 381.88L111.122 385.08L110.082 384.52L111.682 381.08ZM119.038 379.08C118.984 379.091 118.926 379.101 118.862 379.112C118.734 379.144 118.552 379.16 118.318 379.16C117.774 379.16 117.267 379.064 116.798 378.872C116.339 378.669 115.934 378.397 115.582 378.056C115.24 377.715 114.968 377.32 114.766 376.872C114.574 376.413 114.478 375.923 114.478 375.4C114.478 374.877 114.574 374.392 114.766 373.944C114.968 373.485 115.246 373.085 115.598 372.744C115.96 372.403 116.387 372.136 116.878 371.944C117.368 371.741 117.902 371.64 118.478 371.64C119.054 371.64 119.587 371.741 120.078 371.944C120.568 372.136 120.99 372.403 121.342 372.744C121.704 373.085 121.982 373.485 122.174 373.944C122.376 374.392 122.478 374.877 122.478 375.4C122.478 375.72 122.435 376.029 122.35 376.328C122.275 376.627 122.184 376.888 122.078 377.112C121.96 377.389 121.827 377.645 121.678 377.88L118.398 383H116.478L119.038 379.08ZM116.238 375.4C116.238 375.699 116.291 375.981 116.398 376.248C116.515 376.504 116.675 376.733 116.878 376.936C117.08 377.128 117.315 377.283 117.582 377.4C117.859 377.507 118.158 377.56 118.478 377.56C118.798 377.56 119.091 377.507 119.358 377.4C119.635 377.283 119.875 377.128 120.078 376.936C120.28 376.733 120.435 376.504 120.542 376.248C120.659 375.981 120.718 375.699 120.718 375.4C120.718 375.101 120.659 374.824 120.542 374.568C120.435 374.301 120.28 374.072 120.078 373.88C119.875 373.677 119.635 373.523 119.358 373.416C119.091 373.299 118.798 373.24 118.478 373.24C118.158 373.24 117.859 373.299 117.582 373.416C117.315 373.523 117.08 373.677 116.878 373.88C116.675 374.072 116.515 374.301 116.398 374.568C116.291 374.824 116.238 375.101 116.238 375.4Z"
          fill="#FC2C38"
        />
        <path
          d="M130.127 419.32V421H122.607C122.607 420.157 122.746 419.443 123.023 418.856C123.311 418.259 123.668 417.747 124.095 417.32C124.522 416.883 124.986 416.504 125.487 416.184C125.988 415.853 126.452 415.533 126.879 415.224C127.306 414.915 127.658 414.595 127.935 414.264C128.223 413.933 128.367 413.539 128.367 413.08C128.367 412.557 128.191 412.136 127.839 411.816C127.498 411.485 127.007 411.32 126.367 411.32C125.951 411.32 125.604 411.4 125.327 411.56C125.05 411.72 124.826 411.891 124.655 412.072C124.463 412.296 124.314 412.552 124.207 412.84L122.767 412.2C122.916 411.72 123.146 411.293 123.455 410.92C123.722 410.6 124.09 410.307 124.559 410.04C125.028 409.773 125.631 409.64 126.367 409.64C126.932 409.64 127.444 409.731 127.903 409.912C128.362 410.083 128.756 410.328 129.087 410.648C129.418 410.957 129.674 411.32 129.855 411.736C130.036 412.152 130.127 412.6 130.127 413.08C130.127 413.624 130.02 414.099 129.807 414.504C129.604 414.909 129.338 415.277 129.007 415.608C128.676 415.928 128.303 416.227 127.887 416.504C127.471 416.771 127.06 417.048 126.655 417.336C126.26 417.613 125.887 417.912 125.535 418.232C125.183 418.541 124.9 418.904 124.687 419.32H130.127ZM132.44 419.08L133.88 419.88L131.88 423.08L130.84 422.52L132.44 419.08ZM136.356 418.28C136.537 418.515 136.761 418.728 137.028 418.92C137.252 419.08 137.534 419.229 137.876 419.368C138.217 419.496 138.617 419.56 139.076 419.56C139.801 419.56 140.366 419.363 140.772 418.968C141.188 418.563 141.396 418.04 141.396 417.4C141.396 416.76 141.188 416.243 140.772 415.848C140.366 415.443 139.801 415.24 139.076 415.24C138.734 415.24 138.436 415.299 138.18 415.416C137.924 415.523 137.705 415.651 137.524 415.8C137.321 415.96 137.145 416.147 136.996 416.36L135.716 416.2L136.116 409.8H142.436V411.48H137.636L137.476 414.2C137.625 414.093 137.796 413.997 137.988 413.912C138.158 413.848 138.361 413.789 138.596 413.736C138.83 413.672 139.097 413.64 139.396 413.64C139.94 413.64 140.441 413.736 140.9 413.928C141.358 414.109 141.753 414.371 142.084 414.712C142.425 415.043 142.686 415.437 142.868 415.896C143.06 416.355 143.156 416.856 143.156 417.4C143.156 417.944 143.06 418.445 142.868 418.904C142.676 419.363 142.398 419.763 142.036 420.104C141.684 420.435 141.257 420.696 140.756 420.888C140.254 421.069 139.694 421.16 139.076 421.16C138.414 421.16 137.838 421.075 137.348 420.904C136.857 420.723 136.452 420.525 136.132 420.312C135.748 420.067 135.422 419.789 135.156 419.48L136.356 418.28Z"
          fill="#979797"
        />
        <rect x="112" y="430" width="42" height="10" fill="#979797" />
        <path
          d="M102.896 463.53V465H96.3162C96.3162 464.263 96.4375 463.637 96.6802 463.124C96.9322 462.601 97.2448 462.153 97.6182 461.78C97.9915 461.397 98.3975 461.066 98.8362 460.786C99.2748 460.497 99.6808 460.217 100.054 459.946C100.428 459.675 100.736 459.395 100.978 459.106C101.23 458.817 101.356 458.471 101.356 458.07C101.356 457.613 101.202 457.244 100.894 456.964C100.596 456.675 100.166 456.53 99.6062 456.53C99.2422 456.53 98.9388 456.6 98.6962 456.74C98.4535 456.88 98.2575 457.029 98.1082 457.188C97.9402 457.384 97.8095 457.608 97.7162 457.86L96.4562 457.3C96.5868 456.88 96.7875 456.507 97.0582 456.18C97.2915 455.9 97.6135 455.643 98.0242 455.41C98.4348 455.177 98.9622 455.06 99.6062 455.06C100.101 455.06 100.549 455.139 100.95 455.298C101.352 455.447 101.697 455.662 101.986 455.942C102.276 456.213 102.5 456.53 102.658 456.894C102.817 457.258 102.896 457.65 102.896 458.07C102.896 458.546 102.803 458.961 102.616 459.316C102.439 459.671 102.206 459.993 101.916 460.282C101.627 460.562 101.3 460.823 100.936 461.066C100.572 461.299 100.213 461.542 99.8582 461.794C99.5128 462.037 99.1862 462.298 98.8782 462.578C98.5702 462.849 98.3228 463.166 98.1362 463.53H102.896ZM108.49 465.14C107.93 465.14 107.403 465.028 106.908 464.804C106.413 464.58 105.984 464.253 105.62 463.824C105.256 463.395 104.967 462.867 104.752 462.242C104.537 461.617 104.43 460.903 104.43 460.1C104.43 459.297 104.537 458.583 104.752 457.958C104.967 457.333 105.256 456.805 105.62 456.376C105.984 455.947 106.413 455.62 106.908 455.396C107.403 455.172 107.93 455.06 108.49 455.06C109.05 455.06 109.577 455.172 110.072 455.396C110.567 455.62 110.996 455.947 111.36 456.376C111.724 456.805 112.013 457.333 112.228 457.958C112.443 458.583 112.55 459.297 112.55 460.1C112.55 460.903 112.443 461.617 112.228 462.242C112.013 462.867 111.724 463.395 111.36 463.824C110.996 464.253 110.567 464.58 110.072 464.804C109.577 465.028 109.05 465.14 108.49 465.14ZM108.49 463.74C108.826 463.74 109.143 463.665 109.442 463.516C109.75 463.367 110.016 463.143 110.24 462.844C110.473 462.536 110.66 462.158 110.8 461.71C110.94 461.253 111.01 460.716 111.01 460.1C111.01 459.484 110.94 458.952 110.8 458.504C110.66 458.047 110.473 457.669 110.24 457.37C110.016 457.062 109.75 456.833 109.442 456.684C109.143 456.535 108.826 456.46 108.49 456.46C108.154 456.46 107.832 456.535 107.524 456.684C107.225 456.833 106.959 457.062 106.726 457.37C106.502 457.669 106.32 458.047 106.18 458.504C106.04 458.952 105.97 459.484 105.97 460.1C105.97 460.716 106.04 461.253 106.18 461.71C106.32 462.158 106.502 462.536 106.726 462.844C106.959 463.143 107.225 463.367 107.524 463.516C107.832 463.665 108.154 463.74 108.49 463.74ZM115.566 457.51H113.816V456.53C114.134 456.493 114.404 456.437 114.628 456.362C114.852 456.287 115.044 456.194 115.202 456.082C115.37 455.961 115.51 455.83 115.622 455.69C115.734 455.541 115.832 455.377 115.916 455.2H117.106V465H115.566V457.51ZM123.338 465.14C122.778 465.14 122.25 465.028 121.756 464.804C121.261 464.58 120.832 464.253 120.468 463.824C120.104 463.395 119.814 462.867 119.6 462.242C119.385 461.617 119.278 460.903 119.278 460.1C119.278 459.297 119.385 458.583 119.6 457.958C119.814 457.333 120.104 456.805 120.468 456.376C120.832 455.947 121.261 455.62 121.756 455.396C122.25 455.172 122.778 455.06 123.338 455.06C123.898 455.06 124.425 455.172 124.92 455.396C125.414 455.62 125.844 455.947 126.208 456.376C126.572 456.805 126.861 457.333 127.076 457.958C127.29 458.583 127.398 459.297 127.398 460.1C127.398 460.903 127.29 461.617 127.076 462.242C126.861 462.867 126.572 463.395 126.208 463.824C125.844 464.253 125.414 464.58 124.92 464.804C124.425 465.028 123.898 465.14 123.338 465.14ZM123.338 463.74C123.674 463.74 123.991 463.665 124.29 463.516C124.598 463.367 124.864 463.143 125.088 462.844C125.321 462.536 125.508 462.158 125.648 461.71C125.788 461.253 125.858 460.716 125.858 460.1C125.858 459.484 125.788 458.952 125.648 458.504C125.508 458.047 125.321 457.669 125.088 457.37C124.864 457.062 124.598 456.833 124.29 456.684C123.991 456.535 123.674 456.46 123.338 456.46C123.002 456.46 122.68 456.535 122.372 456.684C122.073 456.833 121.807 457.062 121.574 457.37C121.35 457.669 121.168 458.047 121.028 458.504C120.888 458.952 120.818 459.484 120.818 460.1C120.818 460.716 120.888 461.253 121.028 461.71C121.168 462.158 121.35 462.536 121.574 462.844C121.807 463.143 122.073 463.367 122.372 463.516C122.68 463.665 123.002 463.74 123.338 463.74Z"
          fill="black"
        />
        <rect
          x="367"
          y="259"
          width="84"
          height="181"
          fill="url(#paint1_linear)"
        />
        <rect x="367" y="360" width="42" height="80" fill="#333333" />
        <rect x="409" y="378" width="42" height="62" fill="#979797" />
        <path
          d="M400.6 463.53V465H394.02C394.02 464.263 394.142 463.637 394.384 463.124C394.636 462.601 394.949 462.153 395.322 461.78C395.696 461.397 396.102 461.066 396.54 460.786C396.979 460.497 397.385 460.217 397.758 459.946C398.132 459.675 398.44 459.395 398.682 459.106C398.934 458.817 399.06 458.471 399.06 458.07C399.06 457.613 398.906 457.244 398.598 456.964C398.3 456.675 397.87 456.53 397.31 456.53C396.946 456.53 396.643 456.6 396.4 456.74C396.158 456.88 395.962 457.029 395.812 457.188C395.644 457.384 395.514 457.608 395.42 457.86L394.16 457.3C394.291 456.88 394.492 456.507 394.762 456.18C394.996 455.9 395.318 455.643 395.728 455.41C396.139 455.177 396.666 455.06 397.31 455.06C397.805 455.06 398.253 455.139 398.654 455.298C399.056 455.447 399.401 455.662 399.69 455.942C399.98 456.213 400.204 456.53 400.362 456.894C400.521 457.258 400.6 457.65 400.6 458.07C400.6 458.546 400.507 458.961 400.32 459.316C400.143 459.671 399.91 459.993 399.62 460.282C399.331 460.562 399.004 460.823 398.64 461.066C398.276 461.299 397.917 461.542 397.562 461.794C397.217 462.037 396.89 462.298 396.582 462.578C396.274 462.849 396.027 463.166 395.84 463.53H400.6ZM406.194 465.14C405.634 465.14 405.107 465.028 404.612 464.804C404.118 464.58 403.688 464.253 403.324 463.824C402.96 463.395 402.671 462.867 402.456 462.242C402.242 461.617 402.134 460.903 402.134 460.1C402.134 459.297 402.242 458.583 402.456 457.958C402.671 457.333 402.96 456.805 403.324 456.376C403.688 455.947 404.118 455.62 404.612 455.396C405.107 455.172 405.634 455.06 406.194 455.06C406.754 455.06 407.282 455.172 407.776 455.396C408.271 455.62 408.7 455.947 409.064 456.376C409.428 456.805 409.718 457.333 409.932 457.958C410.147 458.583 410.254 459.297 410.254 460.1C410.254 460.903 410.147 461.617 409.932 462.242C409.718 462.867 409.428 463.395 409.064 463.824C408.7 464.253 408.271 464.58 407.776 464.804C407.282 465.028 406.754 465.14 406.194 465.14ZM406.194 463.74C406.53 463.74 406.848 463.665 407.146 463.516C407.454 463.367 407.72 463.143 407.944 462.844C408.178 462.536 408.364 462.158 408.504 461.71C408.644 461.253 408.714 460.716 408.714 460.1C408.714 459.484 408.644 458.952 408.504 458.504C408.364 458.047 408.178 457.669 407.944 457.37C407.72 457.062 407.454 456.833 407.146 456.684C406.848 456.535 406.53 456.46 406.194 456.46C405.858 456.46 405.536 456.535 405.228 456.684C404.93 456.833 404.664 457.062 404.43 457.37C404.206 457.669 404.024 458.047 403.884 458.504C403.744 458.952 403.674 459.484 403.674 460.1C403.674 460.716 403.744 461.253 403.884 461.71C404.024 462.158 404.206 462.536 404.43 462.844C404.664 463.143 404.93 463.367 405.228 463.516C405.536 463.665 405.858 463.74 406.194 463.74ZM413.27 457.51H411.52V456.53C411.838 456.493 412.108 456.437 412.332 456.362C412.556 456.287 412.748 456.194 412.906 456.082C413.074 455.961 413.214 455.83 413.326 455.69C413.438 455.541 413.536 455.377 413.62 455.2H414.81V465H413.27V457.51ZM420.412 455.2H422.092L419.852 458.63C419.899 458.621 419.95 458.607 420.006 458.588C420.062 458.579 420.127 458.574 420.202 458.574C420.286 458.565 420.379 458.56 420.482 458.56C420.958 458.56 421.397 458.649 421.798 458.826C422.209 458.994 422.563 459.227 422.862 459.526C423.17 459.825 423.408 460.175 423.576 460.576C423.753 460.968 423.842 461.393 423.842 461.85C423.842 462.307 423.753 462.737 423.576 463.138C423.408 463.53 423.165 463.875 422.848 464.174C422.54 464.473 422.171 464.711 421.742 464.888C421.313 465.056 420.846 465.14 420.342 465.14C419.838 465.14 419.371 465.056 418.942 464.888C418.513 464.711 418.139 464.473 417.822 464.174C417.514 463.875 417.271 463.53 417.094 463.138C416.926 462.737 416.842 462.307 416.842 461.85C416.842 461.57 416.879 461.299 416.954 461.038C417.029 460.777 417.108 460.543 417.192 460.338C417.295 460.105 417.411 459.885 417.542 459.68L420.412 455.2ZM420.342 463.74C420.622 463.74 420.879 463.693 421.112 463.6C421.355 463.497 421.565 463.362 421.742 463.194C421.919 463.017 422.055 462.816 422.148 462.592C422.251 462.359 422.302 462.111 422.302 461.85C422.302 461.589 422.251 461.346 422.148 461.122C422.055 460.889 421.919 460.688 421.742 460.52C421.565 460.343 421.355 460.207 421.112 460.114C420.879 460.011 420.622 459.96 420.342 459.96C420.062 459.96 419.801 460.011 419.558 460.114C419.325 460.207 419.119 460.343 418.942 460.52C418.765 460.688 418.625 460.889 418.522 461.122C418.429 461.346 418.382 461.589 418.382 461.85C418.382 462.111 418.429 462.359 418.522 462.592C418.625 462.816 418.765 463.017 418.942 463.194C419.119 463.362 419.325 463.497 419.558 463.6C419.801 463.693 420.062 463.74 420.342 463.74Z"
          fill="#979797"
        />
        <rect
          x="500"
          y="200"
          width="84"
          height="240"
          fill="url(#paint2_linear)"
        />
        <rect x="500" y="340" width="42" height="100" fill="#333333" />
        <rect x="542" y="360" width="42" height="80" fill="#979797" />
        <path
          d="M534.092 463.53V465H527.512C527.512 464.263 527.634 463.637 527.876 463.124C528.128 462.601 528.441 462.153 528.814 461.78C529.188 461.397 529.594 461.066 530.032 460.786C530.471 460.497 530.877 460.217 531.25 459.946C531.624 459.675 531.932 459.395 532.174 459.106C532.426 458.817 532.552 458.471 532.552 458.07C532.552 457.613 532.398 457.244 532.09 456.964C531.792 456.675 531.362 456.53 530.802 456.53C530.438 456.53 530.135 456.6 529.892 456.74C529.65 456.88 529.454 457.029 529.304 457.188C529.136 457.384 529.006 457.608 528.912 457.86L527.652 457.3C527.783 456.88 527.984 456.507 528.254 456.18C528.488 455.9 528.81 455.643 529.22 455.41C529.631 455.177 530.158 455.06 530.802 455.06C531.297 455.06 531.745 455.139 532.146 455.298C532.548 455.447 532.893 455.662 533.182 455.942C533.472 456.213 533.696 456.53 533.854 456.894C534.013 457.258 534.092 457.65 534.092 458.07C534.092 458.546 533.999 458.961 533.812 459.316C533.635 459.671 533.402 459.993 533.112 460.282C532.823 460.562 532.496 460.823 532.132 461.066C531.768 461.299 531.409 461.542 531.054 461.794C530.709 462.037 530.382 462.298 530.074 462.578C529.766 462.849 529.519 463.166 529.332 463.53H534.092ZM539.686 465.14C539.126 465.14 538.599 465.028 538.104 464.804C537.61 464.58 537.18 464.253 536.816 463.824C536.452 463.395 536.163 462.867 535.948 462.242C535.734 461.617 535.626 460.903 535.626 460.1C535.626 459.297 535.734 458.583 535.948 457.958C536.163 457.333 536.452 456.805 536.816 456.376C537.18 455.947 537.61 455.62 538.104 455.396C538.599 455.172 539.126 455.06 539.686 455.06C540.246 455.06 540.774 455.172 541.268 455.396C541.763 455.62 542.192 455.947 542.556 456.376C542.92 456.805 543.21 457.333 543.424 457.958C543.639 458.583 543.746 459.297 543.746 460.1C543.746 460.903 543.639 461.617 543.424 462.242C543.21 462.867 542.92 463.395 542.556 463.824C542.192 464.253 541.763 464.58 541.268 464.804C540.774 465.028 540.246 465.14 539.686 465.14ZM539.686 463.74C540.022 463.74 540.34 463.665 540.638 463.516C540.946 463.367 541.212 463.143 541.436 462.844C541.67 462.536 541.856 462.158 541.996 461.71C542.136 461.253 542.206 460.716 542.206 460.1C542.206 459.484 542.136 458.952 541.996 458.504C541.856 458.047 541.67 457.669 541.436 457.37C541.212 457.062 540.946 456.833 540.638 456.684C540.34 456.535 540.022 456.46 539.686 456.46C539.35 456.46 539.028 456.535 538.72 456.684C538.422 456.833 538.156 457.062 537.922 457.37C537.698 457.669 537.516 458.047 537.376 458.504C537.236 458.952 537.166 459.484 537.166 460.1C537.166 460.716 537.236 461.253 537.376 461.71C537.516 462.158 537.698 462.536 537.922 462.844C538.156 463.143 538.422 463.367 538.72 463.516C539.028 463.665 539.35 463.74 539.686 463.74ZM546.762 457.51H545.012V456.53C545.33 456.493 545.6 456.437 545.824 456.362C546.048 456.287 546.24 456.194 546.398 456.082C546.566 455.961 546.706 455.83 546.818 455.69C546.93 455.541 547.028 455.377 547.112 455.2H548.302V465H546.762V457.51ZM554.884 456.67H550.124V455.2H556.564V456.6L552.504 465H550.824L554.884 456.67Z"
          fill="#979797"
        />
        <rect
          x="633"
          y="160"
          width="84"
          height="280"
          fill="url(#paint3_linear)"
        />
        <rect x="633" y="298" width="42" height="142" fill="#333333" />
        <rect x="675" y="340" width="42" height="100" fill="#979797" />
        <path
          d="M666.532 463.53V465H659.952C659.952 464.263 660.073 463.637 660.316 463.124C660.568 462.601 660.881 462.153 661.254 461.78C661.627 461.397 662.033 461.066 662.472 460.786C662.911 460.497 663.317 460.217 663.69 459.946C664.063 459.675 664.371 459.395 664.614 459.106C664.866 458.817 664.992 458.471 664.992 458.07C664.992 457.613 664.838 457.244 664.53 456.964C664.231 456.675 663.802 456.53 663.242 456.53C662.878 456.53 662.575 456.6 662.332 456.74C662.089 456.88 661.893 457.029 661.744 457.188C661.576 457.384 661.445 457.608 661.352 457.86L660.092 457.3C660.223 456.88 660.423 456.507 660.694 456.18C660.927 455.9 661.249 455.643 661.66 455.41C662.071 455.177 662.598 455.06 663.242 455.06C663.737 455.06 664.185 455.139 664.586 455.298C664.987 455.447 665.333 455.662 665.622 455.942C665.911 456.213 666.135 456.53 666.294 456.894C666.453 457.258 666.532 457.65 666.532 458.07C666.532 458.546 666.439 458.961 666.252 459.316C666.075 459.671 665.841 459.993 665.552 460.282C665.263 460.562 664.936 460.823 664.572 461.066C664.208 461.299 663.849 461.542 663.494 461.794C663.149 462.037 662.822 462.298 662.514 462.578C662.206 462.849 661.959 463.166 661.772 463.53H666.532ZM672.126 465.14C671.566 465.14 671.039 465.028 670.544 464.804C670.049 464.58 669.62 464.253 669.256 463.824C668.892 463.395 668.603 462.867 668.388 462.242C668.173 461.617 668.066 460.903 668.066 460.1C668.066 459.297 668.173 458.583 668.388 457.958C668.603 457.333 668.892 456.805 669.256 456.376C669.62 455.947 670.049 455.62 670.544 455.396C671.039 455.172 671.566 455.06 672.126 455.06C672.686 455.06 673.213 455.172 673.708 455.396C674.203 455.62 674.632 455.947 674.996 456.376C675.36 456.805 675.649 457.333 675.864 457.958C676.079 458.583 676.186 459.297 676.186 460.1C676.186 460.903 676.079 461.617 675.864 462.242C675.649 462.867 675.36 463.395 674.996 463.824C674.632 464.253 674.203 464.58 673.708 464.804C673.213 465.028 672.686 465.14 672.126 465.14ZM672.126 463.74C672.462 463.74 672.779 463.665 673.078 463.516C673.386 463.367 673.652 463.143 673.876 462.844C674.109 462.536 674.296 462.158 674.436 461.71C674.576 461.253 674.646 460.716 674.646 460.1C674.646 459.484 674.576 458.952 674.436 458.504C674.296 458.047 674.109 457.669 673.876 457.37C673.652 457.062 673.386 456.833 673.078 456.684C672.779 456.535 672.462 456.46 672.126 456.46C671.79 456.46 671.468 456.535 671.16 456.684C670.861 456.833 670.595 457.062 670.362 457.37C670.138 457.669 669.956 458.047 669.816 458.504C669.676 458.952 669.606 459.484 669.606 460.1C669.606 460.716 669.676 461.253 669.816 461.71C669.956 462.158 670.138 462.536 670.362 462.844C670.595 463.143 670.861 463.367 671.16 463.516C671.468 463.665 671.79 463.74 672.126 463.74ZM679.202 457.51H677.452V456.53C677.769 456.493 678.04 456.437 678.264 456.362C678.488 456.287 678.679 456.194 678.838 456.082C679.006 455.961 679.146 455.83 679.258 455.69C679.37 455.541 679.468 455.377 679.552 455.2H680.742V465H679.202V457.51ZM682.844 462.2C682.844 461.743 682.928 461.36 683.096 461.052C683.273 460.744 683.464 460.497 683.67 460.31C683.912 460.086 684.188 459.904 684.496 459.764V459.736C684.262 459.615 684.057 459.456 683.88 459.26C683.721 459.092 683.576 458.877 683.446 458.616C683.324 458.355 683.264 458.033 683.264 457.65C683.264 457.295 683.334 456.964 683.474 456.656C683.623 456.339 683.828 456.063 684.09 455.83C684.36 455.597 684.682 455.41 685.056 455.27C685.438 455.13 685.868 455.06 686.344 455.06C686.82 455.06 687.244 455.13 687.618 455.27C688 455.41 688.322 455.597 688.584 455.83C688.854 456.063 689.06 456.339 689.2 456.656C689.349 456.964 689.424 457.295 689.424 457.65C689.424 458.033 689.358 458.355 689.228 458.616C689.106 458.877 688.966 459.092 688.808 459.26C688.63 459.456 688.425 459.615 688.192 459.736V459.764C688.5 459.904 688.775 460.086 689.018 460.31C689.232 460.497 689.424 460.744 689.592 461.052C689.76 461.36 689.844 461.743 689.844 462.2C689.844 462.601 689.76 462.984 689.592 463.348C689.433 463.703 689.204 464.015 688.906 464.286C688.607 464.547 688.238 464.757 687.8 464.916C687.37 465.065 686.885 465.14 686.344 465.14C685.802 465.14 685.312 465.065 684.874 464.916C684.444 464.757 684.08 464.547 683.782 464.286C683.483 464.015 683.25 463.703 683.082 463.348C682.923 462.984 682.844 462.601 682.844 462.2ZM686.344 460.52C685.709 460.52 685.224 460.674 684.888 460.982C684.552 461.29 684.384 461.673 684.384 462.13C684.384 462.587 684.552 462.97 684.888 463.278C685.224 463.586 685.709 463.74 686.344 463.74C686.978 463.74 687.464 463.586 687.8 463.278C688.136 462.97 688.304 462.587 688.304 462.13C688.304 461.673 688.136 461.29 687.8 460.982C687.464 460.674 686.978 460.52 686.344 460.52ZM686.344 456.46C685.849 456.46 685.466 456.586 685.196 456.838C684.934 457.081 684.804 457.398 684.804 457.79C684.804 458.182 684.934 458.504 685.196 458.756C685.466 458.999 685.849 459.12 686.344 459.12C686.838 459.12 687.216 458.999 687.478 458.756C687.748 458.504 687.884 458.182 687.884 457.79C687.884 457.398 687.748 457.081 687.478 456.838C687.216 456.586 686.838 456.46 686.344 456.46Z"
          fill="#979797"
        />
        <rect
          x="766"
          y="120"
          width="84"
          height="320"
          fill="url(#paint4_linear)"
        />
        <rect x="766" y="259" width="42" height="181" fill="#333333" />
        <rect x="808" y="320" width="42" height="120" fill="#979797" />
        <path
          d="M799.6 463.53V465H793.02C793.02 464.263 793.142 463.637 793.384 463.124C793.636 462.601 793.949 462.153 794.322 461.78C794.696 461.397 795.102 461.066 795.54 460.786C795.979 460.497 796.385 460.217 796.758 459.946C797.132 459.675 797.44 459.395 797.682 459.106C797.934 458.817 798.06 458.471 798.06 458.07C798.06 457.613 797.906 457.244 797.598 456.964C797.3 456.675 796.87 456.53 796.31 456.53C795.946 456.53 795.643 456.6 795.4 456.74C795.158 456.88 794.962 457.029 794.812 457.188C794.644 457.384 794.514 457.608 794.42 457.86L793.16 457.3C793.291 456.88 793.492 456.507 793.762 456.18C793.996 455.9 794.318 455.643 794.728 455.41C795.139 455.177 795.666 455.06 796.31 455.06C796.805 455.06 797.253 455.139 797.654 455.298C798.056 455.447 798.401 455.662 798.69 455.942C798.98 456.213 799.204 456.53 799.362 456.894C799.521 457.258 799.6 457.65 799.6 458.07C799.6 458.546 799.507 458.961 799.32 459.316C799.143 459.671 798.91 459.993 798.62 460.282C798.331 460.562 798.004 460.823 797.64 461.066C797.276 461.299 796.917 461.542 796.562 461.794C796.217 462.037 795.89 462.298 795.582 462.578C795.274 462.849 795.027 463.166 794.84 463.53H799.6ZM805.194 465.14C804.634 465.14 804.107 465.028 803.612 464.804C803.118 464.58 802.688 464.253 802.324 463.824C801.96 463.395 801.671 462.867 801.456 462.242C801.242 461.617 801.134 460.903 801.134 460.1C801.134 459.297 801.242 458.583 801.456 457.958C801.671 457.333 801.96 456.805 802.324 456.376C802.688 455.947 803.118 455.62 803.612 455.396C804.107 455.172 804.634 455.06 805.194 455.06C805.754 455.06 806.282 455.172 806.776 455.396C807.271 455.62 807.7 455.947 808.064 456.376C808.428 456.805 808.718 457.333 808.932 457.958C809.147 458.583 809.254 459.297 809.254 460.1C809.254 460.903 809.147 461.617 808.932 462.242C808.718 462.867 808.428 463.395 808.064 463.824C807.7 464.253 807.271 464.58 806.776 464.804C806.282 465.028 805.754 465.14 805.194 465.14ZM805.194 463.74C805.53 463.74 805.848 463.665 806.146 463.516C806.454 463.367 806.72 463.143 806.944 462.844C807.178 462.536 807.364 462.158 807.504 461.71C807.644 461.253 807.714 460.716 807.714 460.1C807.714 459.484 807.644 458.952 807.504 458.504C807.364 458.047 807.178 457.669 806.944 457.37C806.72 457.062 806.454 456.833 806.146 456.684C805.848 456.535 805.53 456.46 805.194 456.46C804.858 456.46 804.536 456.535 804.228 456.684C803.93 456.833 803.664 457.062 803.43 457.37C803.206 457.669 803.024 458.047 802.884 458.504C802.744 458.952 802.674 459.484 802.674 460.1C802.674 460.716 802.744 461.253 802.884 461.71C803.024 462.158 803.206 462.536 803.43 462.844C803.664 463.143 803.93 463.367 804.228 463.516C804.536 463.665 804.858 463.74 805.194 463.74ZM812.27 457.51H810.52V456.53C810.838 456.493 811.108 456.437 811.332 456.362C811.556 456.287 811.748 456.194 811.906 456.082C812.074 455.961 812.214 455.83 812.326 455.69C812.438 455.541 812.536 455.377 812.62 455.2H813.81V465H812.27V457.51ZM819.832 461.57C819.785 461.579 819.734 461.589 819.678 461.598C819.566 461.626 819.407 461.64 819.202 461.64C818.726 461.64 818.283 461.556 817.872 461.388C817.471 461.211 817.116 460.973 816.808 460.674C816.509 460.375 816.271 460.03 816.094 459.638C815.926 459.237 815.842 458.807 815.842 458.35C815.842 457.893 815.926 457.468 816.094 457.076C816.271 456.675 816.514 456.325 816.822 456.026C817.139 455.727 817.513 455.494 817.942 455.326C818.371 455.149 818.838 455.06 819.342 455.06C819.846 455.06 820.313 455.149 820.742 455.326C821.171 455.494 821.54 455.727 821.848 456.026C822.165 456.325 822.408 456.675 822.576 457.076C822.753 457.468 822.842 457.893 822.842 458.35C822.842 458.63 822.805 458.901 822.73 459.162C822.665 459.423 822.585 459.652 822.492 459.848C822.389 460.091 822.273 460.315 822.142 460.52L819.272 465H817.592L819.832 461.57ZM817.382 458.35C817.382 458.611 817.429 458.859 817.522 459.092C817.625 459.316 817.765 459.517 817.942 459.694C818.119 459.862 818.325 459.997 818.558 460.1C818.801 460.193 819.062 460.24 819.342 460.24C819.622 460.24 819.879 460.193 820.112 460.1C820.355 459.997 820.565 459.862 820.742 459.694C820.919 459.517 821.055 459.316 821.148 459.092C821.251 458.859 821.302 458.611 821.302 458.35C821.302 458.089 821.251 457.846 821.148 457.622C821.055 457.389 820.919 457.188 820.742 457.02C820.565 456.843 820.355 456.707 820.112 456.614C819.879 456.511 819.622 456.46 819.342 456.46C819.062 456.46 818.801 456.511 818.558 456.614C818.325 456.707 818.119 456.843 817.942 457.02C817.765 457.188 817.625 457.389 817.522 457.622C817.429 457.846 817.382 458.089 817.382 458.35Z"
          fill="#979797"
        />
        <path
          d="M7.125 14.5H8.625V18.82H8.64C8.8 18.6 9 18.405 9.24 18.235C9.44 18.085 9.695 17.95 10.005 17.83C10.315 17.71 10.68 17.65 11.1 17.65C11.55 17.65 11.98 17.745 12.39 17.935C12.8 18.115 13.155 18.375 13.455 18.715C13.765 19.045 14.01 19.44 14.19 19.9C14.38 20.36 14.475 20.86 14.475 21.4C14.475 21.94 14.38 22.44 14.19 22.9C14.01 23.36 13.765 23.76 13.455 24.1C13.155 24.43 12.8 24.69 12.39 24.88C11.98 25.06 11.55 25.15 11.1 25.15C10.68 25.15 10.315 25.09 10.005 24.97C9.695 24.84 9.44 24.705 9.24 24.565C9 24.395 8.8 24.2 8.64 23.98H8.625V25H7.125V14.5ZM8.625 21.4C8.625 21.74 8.68 22.055 8.79 22.345C8.91 22.625 9.065 22.87 9.255 23.08C9.455 23.28 9.685 23.44 9.945 23.56C10.215 23.67 10.5 23.725 10.8 23.725C11.1 23.725 11.38 23.67 11.64 23.56C11.91 23.44 12.14 23.28 12.33 23.08C12.53 22.87 12.685 22.625 12.795 22.345C12.915 22.055 12.975 21.74 12.975 21.4C12.975 21.06 12.915 20.75 12.795 20.47C12.685 20.18 12.53 19.935 12.33 19.735C12.14 19.525 11.91 19.365 11.64 19.255C11.38 19.135 11.1 19.075 10.8 19.075C10.5 19.075 10.215 19.135 9.945 19.255C9.685 19.365 9.455 19.525 9.255 19.735C9.065 19.935 8.91 20.18 8.79 20.47C8.68 20.75 8.625 21.06 8.625 21.4ZM17.632 17.8V18.82H17.647C17.807 18.6 17.997 18.405 18.217 18.235C18.407 18.085 18.637 17.95 18.907 17.83C19.187 17.71 19.512 17.65 19.882 17.65C20.292 17.65 20.672 17.725 21.022 17.875C21.372 18.015 21.672 18.22 21.922 18.49C22.182 18.76 22.382 19.09 22.522 19.48C22.662 19.87 22.732 20.31 22.732 20.8V25H21.232V20.8C21.232 20.27 21.077 19.85 20.767 19.54C20.467 19.23 20.072 19.075 19.582 19.075C19.302 19.075 19.042 19.125 18.802 19.225C18.562 19.325 18.357 19.465 18.187 19.645C18.017 19.815 17.882 20.025 17.782 20.275C17.682 20.525 17.632 20.8 17.632 21.1V25H16.132V17.8H17.632ZM27.9826 17.8H29.4826V18.745H29.5126C29.6626 18.545 29.8426 18.36 30.0526 18.19C30.2326 18.05 30.4576 17.925 30.7276 17.815C30.9976 17.705 31.3076 17.65 31.6576 17.65H32.0326V19.225C31.9726 19.215 31.9126 19.2 31.8526 19.18C31.7926 19.17 31.7276 19.165 31.6576 19.165C31.5876 19.155 31.5126 19.15 31.4326 19.15C31.1726 19.15 30.9226 19.205 30.6826 19.315C30.4526 19.415 30.2476 19.565 30.0676 19.765C29.8876 19.955 29.7426 20.185 29.6326 20.455C29.5326 20.715 29.4826 21.005 29.4826 21.325V25H27.9826V17.8ZM34.8879 17.8V22C34.8879 22.53 35.0379 22.95 35.3379 23.26C35.6479 23.57 36.0479 23.725 36.5379 23.725C36.8179 23.725 37.0779 23.675 37.3179 23.575C37.5579 23.475 37.7629 23.34 37.9329 23.17C38.1029 22.99 38.2379 22.775 38.3379 22.525C38.4379 22.275 38.4879 22 38.4879 21.7V17.8H39.9879V25H38.4879V23.98H38.4729C38.3129 24.2 38.1229 24.395 37.9029 24.565C37.7129 24.705 37.4779 24.84 37.1979 24.97C36.9279 25.09 36.6079 25.15 36.2379 25.15C35.8279 25.15 35.4479 25.08 35.0979 24.94C34.7479 24.79 34.4429 24.58 34.1829 24.31C33.9329 24.04 33.7379 23.71 33.5979 23.32C33.4579 22.93 33.3879 22.49 33.3879 22V17.8H34.8879ZM42.1641 14.5H43.6641V18.82H43.6791C43.8391 18.6 44.0391 18.405 44.2791 18.235C44.4791 18.085 44.7341 17.95 45.0441 17.83C45.3541 17.71 45.7191 17.65 46.1391 17.65C46.5891 17.65 47.0191 17.745 47.4291 17.935C47.8391 18.115 48.1941 18.375 48.4941 18.715C48.8041 19.045 49.0491 19.44 49.2291 19.9C49.4191 20.36 49.5141 20.86 49.5141 21.4C49.5141 21.94 49.4191 22.44 49.2291 22.9C49.0491 23.36 48.8041 23.76 48.4941 24.1C48.1941 24.43 47.8391 24.69 47.4291 24.88C47.0191 25.06 46.5891 25.15 46.1391 25.15C45.7191 25.15 45.3541 25.09 45.0441 24.97C44.7341 24.84 44.4791 24.705 44.2791 24.565C44.0391 24.395 43.8391 24.2 43.6791 23.98H43.6641V25H42.1641V14.5ZM43.6641 21.4C43.6641 21.74 43.7191 22.055 43.8291 22.345C43.9491 22.625 44.1041 22.87 44.2941 23.08C44.4941 23.28 44.7241 23.44 44.9841 23.56C45.2541 23.67 45.5391 23.725 45.8391 23.725C46.1391 23.725 46.4191 23.67 46.6791 23.56C46.9491 23.44 47.1791 23.28 47.3691 23.08C47.5691 22.87 47.7241 22.625 47.8341 22.345C47.9541 22.055 48.0141 21.74 48.0141 21.4C48.0141 21.06 47.9541 20.75 47.8341 20.47C47.7241 20.18 47.5691 19.935 47.3691 19.735C47.1791 19.525 46.9491 19.365 46.6791 19.255C46.4191 19.135 46.1391 19.075 45.8391 19.075C45.5391 19.075 45.2541 19.135 44.9841 19.255C44.7241 19.365 44.4941 19.525 44.2941 19.735C44.1041 19.935 43.9491 20.18 43.8291 20.47C43.7191 20.75 43.6641 21.06 43.6641 21.4ZM50.7961 24.175C50.7961 23.915 50.8911 23.69 51.0811 23.5C51.2811 23.3 51.5111 23.2 51.7711 23.2C52.0311 23.2 52.2561 23.3 52.4461 23.5C52.6461 23.69 52.7461 23.915 52.7461 24.175C52.7461 24.435 52.6461 24.665 52.4461 24.865C52.2561 25.055 52.0311 25.15 51.7711 25.15C51.5111 25.15 51.2811 25.055 51.0811 24.865C50.8911 24.665 50.7961 24.435 50.7961 24.175Z"
          fill="#979797"
        />
        <rect x="930.5" y="80.5" width="125" height="359" stroke="#FC2C38" />
        <rect x="930" y="228" width="63" height="212" fill="#333333" />
        <rect x="993" y="340" width="63" height="100" fill="#979797" />
        <path
          d="M971.448 56.23H968.698V54.69C969.196 54.6313 969.622 54.5433 969.974 54.426C970.326 54.3087 970.626 54.162 970.876 53.986C971.14 53.7953 971.36 53.59 971.536 53.37C971.712 53.1353 971.866 52.8787 971.998 52.6H973.868V68H971.448V56.23ZM983.66 68.22C982.78 68.22 981.952 68.044 981.174 67.692C980.397 67.34 979.722 66.8267 979.15 66.152C978.578 65.4773 978.124 64.6487 977.786 63.666C977.449 62.6833 977.28 61.5613 977.28 60.3C977.28 59.0387 977.449 57.9167 977.786 56.934C978.124 55.9513 978.578 55.1227 979.15 54.448C979.722 53.7733 980.397 53.26 981.174 52.908C981.952 52.556 982.78 52.38 983.66 52.38C984.54 52.38 985.369 52.556 986.146 52.908C986.924 53.26 987.598 53.7733 988.17 54.448C988.742 55.1227 989.197 55.9513 989.534 56.934C989.872 57.9167 990.04 59.0387 990.04 60.3C990.04 61.5613 989.872 62.6833 989.534 63.666C989.197 64.6487 988.742 65.4773 988.17 66.152C987.598 66.8267 986.924 67.34 986.146 67.692C985.369 68.044 984.54 68.22 983.66 68.22ZM983.66 66.02C984.188 66.02 984.687 65.9027 985.156 65.668C985.64 65.4333 986.058 65.0813 986.41 64.612C986.777 64.128 987.07 63.534 987.29 62.83C987.51 62.1113 987.62 61.268 987.62 60.3C987.62 59.332 987.51 58.496 987.29 57.792C987.07 57.0733 986.777 56.4793 986.41 56.01C986.058 55.526 985.64 55.1667 985.156 54.932C984.687 54.6973 984.188 54.58 983.66 54.58C983.132 54.58 982.626 54.6973 982.142 54.932C981.673 55.1667 981.255 55.526 980.888 56.01C980.536 56.4793 980.25 57.0733 980.03 57.792C979.81 58.496 979.7 59.332 979.7 60.3C979.7 61.268 979.81 62.1113 980.03 62.83C980.25 63.534 980.536 64.128 980.888 64.612C981.255 65.0813 981.673 65.4333 982.142 65.668C982.626 65.9027 983.132 66.02 983.66 66.02ZM998.734 54.91H991.254V52.6H1001.37V54.8L994.994 68H992.354L998.734 54.91ZM1002.24 65.36L1004.22 66.46L1001.47 70.86L1000.04 70.09L1002.24 65.36ZM1005.76 62.28L1012.8 52.6H1015.66V62.72H1017.64V64.92H1015.66V68H1013.24V64.92H1005.76V62.28ZM1013.24 62.72V55.57L1008.07 62.72H1013.24Z"
          fill="#FC2C38"
        />
        <path
          d="M953.516 215.22C952.606 215.22 951.814 215.103 951.14 214.868C950.465 214.619 949.908 214.347 949.468 214.054C948.94 213.717 948.492 213.335 948.126 212.91L949.776 211.26C950.025 211.583 950.333 211.876 950.7 212.14C951.008 212.36 951.396 212.565 951.866 212.756C952.335 212.932 952.885 213.02 953.516 213.02C954.513 213.02 955.276 212.778 955.804 212.294C956.332 211.81 956.596 211.209 956.596 210.49C956.596 209.83 956.332 209.265 955.804 208.796C955.276 208.312 954.513 208.07 953.516 208.07H951.866V205.76H953.516C954.352 205.76 954.982 205.569 955.408 205.188C955.833 204.792 956.046 204.286 956.046 203.67C956.046 203.054 955.833 202.555 955.408 202.174C954.982 201.778 954.352 201.58 953.516 201.58C953.002 201.58 952.54 201.661 952.13 201.822C951.719 201.969 951.367 202.145 951.074 202.35C950.751 202.57 950.465 202.827 950.216 203.12L948.566 201.47C948.932 201.074 949.358 200.722 949.842 200.414C950.267 200.165 950.788 199.93 951.404 199.71C952.02 199.49 952.724 199.38 953.516 199.38C954.293 199.38 954.982 199.49 955.584 199.71C956.2 199.93 956.72 200.223 957.146 200.59C957.571 200.957 957.894 201.389 958.114 201.888C958.348 202.372 958.466 202.893 958.466 203.45C958.466 204.081 958.348 204.609 958.114 205.034C957.879 205.459 957.622 205.811 957.344 206.09C957.006 206.398 956.625 206.647 956.2 206.838V206.882C956.728 207.073 957.197 207.337 957.608 207.674C957.96 207.967 958.282 208.349 958.576 208.818C958.869 209.287 959.016 209.881 959.016 210.6C959.016 211.231 958.884 211.832 958.62 212.404C958.37 212.961 958.011 213.453 957.542 213.878C957.072 214.289 956.493 214.619 955.804 214.868C955.129 215.103 954.366 215.22 953.516 215.22ZM967.715 215.22C966.835 215.22 966.006 215.044 965.229 214.692C964.452 214.34 963.777 213.827 963.205 213.152C962.633 212.477 962.178 211.649 961.841 210.666C961.504 209.683 961.335 208.561 961.335 207.3C961.335 206.039 961.504 204.917 961.841 203.934C962.178 202.951 962.633 202.123 963.205 201.448C963.777 200.773 964.452 200.26 965.229 199.908C966.006 199.556 966.835 199.38 967.715 199.38C968.595 199.38 969.424 199.556 970.201 199.908C970.978 200.26 971.653 200.773 972.225 201.448C972.797 202.123 973.252 202.951 973.589 203.934C973.926 204.917 974.095 206.039 974.095 207.3C974.095 208.561 973.926 209.683 973.589 210.666C973.252 211.649 972.797 212.477 972.225 213.152C971.653 213.827 970.978 214.34 970.201 214.692C969.424 215.044 968.595 215.22 967.715 215.22ZM967.715 213.02C968.243 213.02 968.742 212.903 969.211 212.668C969.695 212.433 970.113 212.081 970.465 211.612C970.832 211.128 971.125 210.534 971.345 209.83C971.565 209.111 971.675 208.268 971.675 207.3C971.675 206.332 971.565 205.496 971.345 204.792C971.125 204.073 970.832 203.479 970.465 203.01C970.113 202.526 969.695 202.167 969.211 201.932C968.742 201.697 968.243 201.58 967.715 201.58C967.187 201.58 966.681 201.697 966.197 201.932C965.728 202.167 965.31 202.526 964.943 203.01C964.591 203.479 964.305 204.073 964.085 204.792C963.865 205.496 963.755 206.332 963.755 207.3C963.755 208.268 963.865 209.111 964.085 209.83C964.305 210.534 964.591 211.128 964.943 211.612C965.31 212.081 965.728 212.433 966.197 212.668C966.681 212.903 967.187 213.02 967.715 213.02Z"
          fill="#333333"
        />
        <path
          d="M1016.35 315.23H1013.6V313.69C1014.1 313.631 1014.53 313.543 1014.88 313.426C1015.23 313.309 1015.53 313.162 1015.78 312.986C1016.05 312.795 1016.27 312.59 1016.44 312.37C1016.62 312.135 1016.77 311.879 1016.9 311.6H1018.77V327H1016.35V315.23ZM1028.57 327.22C1027.69 327.22 1026.86 327.044 1026.08 326.692C1025.3 326.34 1024.63 325.827 1024.06 325.152C1023.48 324.477 1023.03 323.649 1022.69 322.666C1022.36 321.683 1022.19 320.561 1022.19 319.3C1022.19 318.039 1022.36 316.917 1022.69 315.934C1023.03 314.951 1023.48 314.123 1024.06 313.448C1024.63 312.773 1025.3 312.26 1026.08 311.908C1026.86 311.556 1027.69 311.38 1028.57 311.38C1029.45 311.38 1030.28 311.556 1031.05 311.908C1031.83 312.26 1032.5 312.773 1033.08 313.448C1033.65 314.123 1034.1 314.951 1034.44 315.934C1034.78 316.917 1034.95 318.039 1034.95 319.3C1034.95 320.561 1034.78 321.683 1034.44 322.666C1034.1 323.649 1033.65 324.477 1033.08 325.152C1032.5 325.827 1031.83 326.34 1031.05 326.692C1030.28 327.044 1029.45 327.22 1028.57 327.22ZM1028.57 325.02C1029.09 325.02 1029.59 324.903 1030.06 324.668C1030.55 324.433 1030.96 324.081 1031.32 323.612C1031.68 323.128 1031.98 322.534 1032.2 321.83C1032.42 321.111 1032.53 320.268 1032.53 319.3C1032.53 318.332 1032.42 317.496 1032.2 316.792C1031.98 316.073 1031.68 315.479 1031.32 315.01C1030.96 314.526 1030.55 314.167 1030.06 313.932C1029.59 313.697 1029.09 313.58 1028.57 313.58C1028.04 313.58 1027.53 313.697 1027.05 313.932C1026.58 314.167 1026.16 314.526 1025.79 315.01C1025.44 315.479 1025.16 316.073 1024.94 316.792C1024.72 317.496 1024.61 318.332 1024.61 319.3C1024.61 320.268 1024.72 321.111 1024.94 321.83C1025.16 322.534 1025.44 323.128 1025.79 323.612C1026.16 324.081 1026.58 324.433 1027.05 324.668C1027.53 324.903 1028.04 325.02 1028.57 325.02Z"
          fill="#979797"
        />
        <path
          d="M982.57 463.53V465H975.99C975.99 464.263 976.111 463.637 976.354 463.124C976.606 462.601 976.919 462.153 977.292 461.78C977.665 461.397 978.071 461.066 978.51 460.786C978.949 460.497 979.355 460.217 979.728 459.946C980.101 459.675 980.409 459.395 980.652 459.106C980.904 458.817 981.03 458.471 981.03 458.07C981.03 457.613 980.876 457.244 980.568 456.964C980.269 456.675 979.84 456.53 979.28 456.53C978.916 456.53 978.613 456.6 978.37 456.74C978.127 456.88 977.931 457.029 977.782 457.188C977.614 457.384 977.483 457.608 977.39 457.86L976.13 457.3C976.261 456.88 976.461 456.507 976.732 456.18C976.965 455.9 977.287 455.643 977.698 455.41C978.109 455.177 978.636 455.06 979.28 455.06C979.775 455.06 980.223 455.139 980.624 455.298C981.025 455.447 981.371 455.662 981.66 455.942C981.949 456.213 982.173 456.53 982.332 456.894C982.491 457.258 982.57 457.65 982.57 458.07C982.57 458.546 982.477 458.961 982.29 459.316C982.113 459.671 981.879 459.993 981.59 460.282C981.301 460.562 980.974 460.823 980.61 461.066C980.246 461.299 979.887 461.542 979.532 461.794C979.187 462.037 978.86 462.298 978.552 462.578C978.244 462.849 977.997 463.166 977.81 463.53H982.57ZM988.164 465.14C987.604 465.14 987.077 465.028 986.582 464.804C986.087 464.58 985.658 464.253 985.294 463.824C984.93 463.395 984.641 462.867 984.426 462.242C984.211 461.617 984.104 460.903 984.104 460.1C984.104 459.297 984.211 458.583 984.426 457.958C984.641 457.333 984.93 456.805 985.294 456.376C985.658 455.947 986.087 455.62 986.582 455.396C987.077 455.172 987.604 455.06 988.164 455.06C988.724 455.06 989.251 455.172 989.746 455.396C990.241 455.62 990.67 455.947 991.034 456.376C991.398 456.805 991.687 457.333 991.902 457.958C992.117 458.583 992.224 459.297 992.224 460.1C992.224 460.903 992.117 461.617 991.902 462.242C991.687 462.867 991.398 463.395 991.034 463.824C990.67 464.253 990.241 464.58 989.746 464.804C989.251 465.028 988.724 465.14 988.164 465.14ZM988.164 463.74C988.5 463.74 988.817 463.665 989.116 463.516C989.424 463.367 989.69 463.143 989.914 462.844C990.147 462.536 990.334 462.158 990.474 461.71C990.614 461.253 990.684 460.716 990.684 460.1C990.684 459.484 990.614 458.952 990.474 458.504C990.334 458.047 990.147 457.669 989.914 457.37C989.69 457.062 989.424 456.833 989.116 456.684C988.817 456.535 988.5 456.46 988.164 456.46C987.828 456.46 987.506 456.535 987.198 456.684C986.899 456.833 986.633 457.062 986.4 457.37C986.176 457.669 985.994 458.047 985.854 458.504C985.714 458.952 985.644 459.484 985.644 460.1C985.644 460.716 985.714 461.253 985.854 461.71C985.994 462.158 986.176 462.536 986.4 462.844C986.633 463.143 986.899 463.367 987.198 463.516C987.506 463.665 987.828 463.74 988.164 463.74ZM1000.07 463.53V465H993.49C993.49 464.263 993.611 463.637 993.854 463.124C994.106 462.601 994.419 462.153 994.792 461.78C995.165 461.397 995.571 461.066 996.01 460.786C996.449 460.497 996.855 460.217 997.228 459.946C997.601 459.675 997.909 459.395 998.152 459.106C998.404 458.817 998.53 458.471 998.53 458.07C998.53 457.613 998.376 457.244 998.068 456.964C997.769 456.675 997.34 456.53 996.78 456.53C996.416 456.53 996.113 456.6 995.87 456.74C995.627 456.88 995.431 457.029 995.282 457.188C995.114 457.384 994.983 457.608 994.89 457.86L993.63 457.3C993.761 456.88 993.961 456.507 994.232 456.18C994.465 455.9 994.787 455.643 995.198 455.41C995.609 455.177 996.136 455.06 996.78 455.06C997.275 455.06 997.723 455.139 998.124 455.298C998.525 455.447 998.871 455.662 999.16 455.942C999.449 456.213 999.673 456.53 999.832 456.894C999.991 457.258 1000.07 457.65 1000.07 458.07C1000.07 458.546 999.977 458.961 999.79 459.316C999.613 459.671 999.379 459.993 999.09 460.282C998.801 460.562 998.474 460.823 998.11 461.066C997.746 461.299 997.387 461.542 997.032 461.794C996.687 462.037 996.36 462.298 996.052 462.578C995.744 462.849 995.497 463.166 995.31 463.53H1000.07ZM1005.66 465.14C1005.1 465.14 1004.58 465.028 1004.08 464.804C1003.59 464.58 1003.16 464.253 1002.79 463.824C1002.43 463.395 1002.14 462.867 1001.93 462.242C1001.71 461.617 1001.6 460.903 1001.6 460.1C1001.6 459.297 1001.71 458.583 1001.93 457.958C1002.14 457.333 1002.43 456.805 1002.79 456.376C1003.16 455.947 1003.59 455.62 1004.08 455.396C1004.58 455.172 1005.1 455.06 1005.66 455.06C1006.22 455.06 1006.75 455.172 1007.25 455.396C1007.74 455.62 1008.17 455.947 1008.53 456.376C1008.9 456.805 1009.19 457.333 1009.4 457.958C1009.62 458.583 1009.72 459.297 1009.72 460.1C1009.72 460.903 1009.62 461.617 1009.4 462.242C1009.19 462.867 1008.9 463.395 1008.53 463.824C1008.17 464.253 1007.74 464.58 1007.25 464.804C1006.75 465.028 1006.22 465.14 1005.66 465.14ZM1005.66 463.74C1006 463.74 1006.32 463.665 1006.62 463.516C1006.92 463.367 1007.19 463.143 1007.41 462.844C1007.65 462.536 1007.83 462.158 1007.97 461.71C1008.11 461.253 1008.18 460.716 1008.18 460.1C1008.18 459.484 1008.11 458.952 1007.97 458.504C1007.83 458.047 1007.65 457.669 1007.41 457.37C1007.19 457.062 1006.92 456.833 1006.62 456.684C1006.32 456.535 1006 456.46 1005.66 456.46C1005.33 456.46 1005.01 456.535 1004.7 456.684C1004.4 456.833 1004.13 457.062 1003.9 457.37C1003.68 457.669 1003.49 458.047 1003.35 458.504C1003.21 458.952 1003.14 459.484 1003.14 460.1C1003.14 460.716 1003.21 461.253 1003.35 461.71C1003.49 462.158 1003.68 462.536 1003.9 462.844C1004.13 463.143 1004.4 463.367 1004.7 463.516C1005.01 463.665 1005.33 463.74 1005.66 463.74Z"
          fill="black"
        />
        <defs>
          <linearGradient
            id="paint0_linear"
            x1="276"
            y1="200"
            x2="276"
            y2="440"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FC2C38" />
            <stop offset="1" stop-color="#FC2C38" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint1_linear"
            x1="409"
            y1="134.085"
            x2="409"
            y2="440"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FC2C38" />
            <stop offset="1" stop-color="#FC2C38" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint2_linear"
            x1="542"
            y1="34.3662"
            x2="542"
            y2="440"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FC2C38" />
            <stop offset="1" stop-color="#FC2C38" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint3_linear"
            x1="675"
            y1="-33.2394"
            x2="675"
            y2="440"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FC2C38" />
            <stop offset="1" stop-color="#FC2C38" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="paint4_linear"
            x1="808"
            y1="-100.845"
            x2="808"
            y2="440"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FC2C38" />
            <stop offset="1" stop-color="#FC2C38" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
  <div class="profit__more">
    <div class="container">
      <div class="profit__more-items">
        <div class="profit__more-item">
          <div class="profit__more-item-name">Revenue</div>
          <div
            class="profit__more-item-number"
            data-percent="10"
            data-animated="0"
          >
            x<span>10</span>
          </div>
          <div class="profit__more-item-description">
            growth over the decade
          </div>
        </div>
        <div class="profit__more-item">
          <div class="profit__more-item-name">Profit</div>
          <div
            class="profit__more-item-number"
            data-percent="4"
            data-animated="0"
          >
            x<span>4</span>
          </div>
          <div class="profit__more-item-description">
            growth over the decade
          </div>
        </div>
        <div class="profit__more-item">
          <div class="profit__more-item-name">EBITDA</div>
          <div
            class="profit__more-item-number"
            data-percent="22"
            data-animated="0"
          >
            <span>22</span>%
          </div>
          <div class="profit__more-item-description">
            average annual growth of 22%
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
