<section class="products">
  <div class="container">
    <div class="vk">
      <div class="vk__wrapper">
        <h2 class="vk__title section-title">Экосистемные сервисы</h2>
        <p class="vk__subtitle section-subtitle">
          Mail.ru Group развивает экосистему VK, которая объединяет технологии и
          продукты
        </p>
        <div class="vk__cards vk-cards">
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-1.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">Единый ID</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-2.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">Безопасные и выгодные покупки</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-3.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">Единая подписка</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-4.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">Платформа мини-приложений</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img src="img/vk-card-logo-5.png" />
              </div>
            </div>
            <div class="vk-card__name">Голосовой помощник</div>
          </div>
        </div>
      </div>
      <div class="vk__lists vk-lists">
        <div class="vk-lists__column">
          <div class="vk-list 2">
            <div class="vk-list__name">Еда и доставка</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-4.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Еда ВКонтакте</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-6.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Delivery Club</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-7.png" />
                </div>
                <div class="vk-list__item-name">Самокат</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-8.png" />
                </div>
                <div class="vk-list__item-name">Кухня на районе</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-9.png" />
                </div>
                <div class="vk-list__item-name">Performance food</div>
              </div>
            </div>
          </div>
          <div class="vk-list 6">
            <div class="vk-list__name">Продуктивность</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Почта</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-43.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Облако</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-44.png" alt="" />
                </div>
                <div class="vk-list__item-name">Задачи</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-45.png" alt="" />
                </div>
                <div class="vk-list__item-name">Календарь</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-46.png" alt="" />
                </div>
                <div class="vk-list__item-name">Видеозвонки</div>
              </div>
            </div>
          </div>
          <div class="vk-list 11">
            <div class="vk-list__name">Образование</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-16.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">
                  Образовательные проекты Mail.ru Group
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-17.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Все Аптеки</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-18.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Сферум</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-19.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">GeekBrains</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-20.png" alt="" />
                </div>
                <div class="vk-list__item-name">Skillbox</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-21.png" alt="" />
                </div>
                <div class="vk-list__item-name">Учи.ру</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-22.png" alt="" />
                </div>
                <div class="vk-list__item-name">Тетрика</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-23.png" alt="" />
                </div>
                <div class="vk-list__item-name">SkillFactory</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-24.png" alt="" />
                </div>
                <div class="vk-list__item-name">Алгоритмика</div>
              </div>
            </div>
          </div>
          <div class="vk-list 12">
            <div class="vk-list__name">Для авторов</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">ВКонтакте для авторов</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-26.png" alt="" />
                </div>
                <div class="vk-list__item-name">Donation Alerts</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-27.png" alt="" />
                </div>
                <div class="vk-list__item-name">Boosty.to</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Пульс для авторов</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 9">
            <div class="vk-list__name">Медиа и развлечения</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-47.png" alt="" />
                </div>
                <div class="vk-list__item-name">Boom</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Пульс</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-48.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Новости</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-49.png" alt="" />
                </div>
                <div class="vk-list__item-name">Спорт</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Леди</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Авто</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Дети</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Кино</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Hi-Tech</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Дом</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Мини-Игры</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Питомцы</div>
              </div>
            </div>
          </div>
          <div class="vk-list 10">
            <div class="vk-list__name">Социальные сервисы</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">
                  Благотворительность ВКонтакте
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-50.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Добро Mail.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-51.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Добрые километры Ситимобил</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Социальные проекты ОК</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-35.png" alt="" />
                </div>
                <div class="vk-list__item-name">Облако для фондов</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-26.png" alt="" />
                </div>
                <div class="vk-list__item-name">Love Alerts</div>
              </div>
            </div>
          </div>
          <div class="vk-list 1">
            <div class="vk-list__name">Соцсети</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">ВКонтакте</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Одноклассники</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Мой Мир</div>
              </div>
            </div>
          </div>
          <div class="vk-list 3">
            <div class="vk-list__name">Транспорт</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-37.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Такси ВКонтакте</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-38.png"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Ситимобил</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-39.png"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Ситидрайв</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 14">
            <div class="vk-list__name">Для бизнеса</div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Маркетинговые решения</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-29.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">myTarget</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-29.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">myTracker</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-31.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Relap</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-32.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">DOOH</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-32.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Digital Instore</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-34.png" alt="" />
                </div>
                <div class="vk-list__item-name">PREDICT</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Цифровые технологии</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-35.png" alt="" />
                </div>
                <div class="vk-list__item-name">Mail.ru Cloud Solutions</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Tarantool</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Process Mirror</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Коммуникационная платформа</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Налоговый мониторинг</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Интернет вещей</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Малый и средний бизнес</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">ВКонтакте для бизнеса</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">ОК.Бизнес</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Социальная ответственность</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-73.png" alt="" />
                </div>
                <div class="vk-list__item-name">Код Добра</div>
              </div>
            </div>
          </div>
          <div class="vk-list 5">
            <div class="vk-list__name">Товары и услуги</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-42.png" alt="" />
                </div>
                <div class="vk-list__item-name">AliExpress Россия</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Работа</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-43.png" alt="" />
                </div>
                <div class="vk-list__item-name">Юла</div>
              </div>
            </div>
          </div>
          <div class="vk-list 7">
            <div class="vk-list__name">Информация и поиск</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-10.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Поиск</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-10.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Ответы</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-12.png" alt="" />
                </div>
                <div class="vk-list__item-name">Atom</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 13">
            <div class="vk-list__name">Игры</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-52.png" alt="" />
                </div>
                <div class="vk-list__item-name">War Robots</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-53.png" alt="" />
                </div>
                <div class="vk-list__item-name">Warface</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-54.png" alt="" />
                </div>
                <div class="vk-list__item-name">Hustle Castle</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-55.png" alt="" />
                </div>
                <div class="vk-list__item-name">Grand Hotel Mania</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-56.png" alt="" />
                </div>
                <div class="vk-list__item-name">Left to Survive</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-57.png" alt="" />
                </div>
                <div class="vk-list__item-name">Zero City</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-58.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  Love Sick: Interactive Stories
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-59.png" alt="" />
                </div>
                <div class="vk-list__item-name">Tacticool</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-60.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  American Dad! Apocalypse Soon
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-61.png" alt="" />
                </div>
                <div class="vk-list__item-name">Conqueror's Blade</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-62.png" alt="" />
                </div>
                <div class="vk-list__item-name">Lost Ark</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-63.png" alt="" />
                </div>
                <div class="vk-list__item-name">Skyforge</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-64.png" alt="" />
                </div>
                <div class="vk-list__item-name">Space Justice</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-65.png" alt="" />
                </div>
                <div class="vk-list__item-name">Crossfire</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-66.png" alt="" />
                </div>
                <div class="vk-list__item-name">Dino Squad</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-67.png" alt="" />
                </div>
                <div class="vk-list__item-name">Allods</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-68.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  Evolution 2: Battle for Utopia
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-69.png" alt="" />
                </div>
                <div class="vk-list__item-name">Perfect World</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-70.png" alt="" />
                </div>
                <div class="vk-list__item-name">Juggernaut Wars</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-71.png" alt="" />
                </div>
                <div class="vk-list__item-name">Jungle Heat</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-72.png" alt="" />
                </div>
                <div class="vk-list__item-name">+130 игр</div>
              </div>
            </div>
          </div>
          <div class="vk-list 8">
            <div class="vk-list__name">Здоровье</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-13.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Здоровье ВКонтакте</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-14.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Все Аптеки</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-15.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Здоровье</div>
              </div>
            </div>
          </div>
          <div class="vk-list 4">
            <div class="vk-list__name">Мессенджеры</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-40.png" alt="" />
                </div>
                <div class="vk-list__item-name">ICQ</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-41.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">ТамТам</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
