<section class="products">
  <div class="container">
    <div class="vk">
      <div class="vk__wrapper">
        <h2 class="vk__title section-title">Ecosystem services</h2>
        <p class="vk__subtitle section-subtitle">
          Mail.ru Group develops the VK ecosystem as a way to bring together a
          wide variety of technologies and products
        </p>
        <div class="vk__cards vk-cards">
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-1.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">VK Connect unified ID</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-2.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">VK Pay safe and profitable shopping</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-3.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">VK Combo unified subscription</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img
                  class="vk-card__logo-img"
                  src="img/vk-card-logo-4.svg"
                  alt=""
                />
              </div>
            </div>
            <div class="vk-card__name">VK mini apps platform</div>
          </div>
          <div class="vk-card">
            <div class="vk-card__wrapper">
              <div class="vk-card__logo">
                <img src="img/vk-card-logo-5.png" />
              </div>
            </div>
            <div class="vk-card__name">Marusia voice assistant</div>
          </div>
        </div>
      </div>
      <div class="vk__lists vk-lists">
        <div class="vk-lists__column">
          <div class="vk-list 2">
            <div class="vk-list__name">Food and Delivery</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-4.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Food</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-6.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Delivery Club</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-7.png" />
                </div>
                <div class="vk-list__item-name">Samokat</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-8.png" />
                </div>
                <div class="vk-list__item-name">Local Kitchen</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-9.png" />
                </div>
                <div class="vk-list__item-name">Performance food</div>
              </div>
            </div>
          </div>
          <div class="vk-list 6">
            <div class="vk-list__name">Productivity</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Email Service</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-43.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Cloud Mail.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-44.png" alt="" />
                </div>
                <div class="vk-list__item-name">Tasks</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-45.png" alt="" />
                </div>
                <div class="vk-list__item-name">Calendar</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-46.png" alt="" />
                </div>
                <div class="vk-list__item-name">Video Calls</div>
              </div>
            </div>
          </div>
          <div class="vk-list 11">
            <div class="vk-list__name">Education</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-16.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Mail.ru Group’s Education</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-17.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Vse Apteki</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-18.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Spherum</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-19.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">GeekBrains</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-20.png" alt="" />
                </div>
                <div class="vk-list__item-name">Skillbox</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-21.png" alt="" />
                </div>
                <div class="vk-list__item-name">Uchi.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-22.png" alt="" />
                </div>
                <div class="vk-list__item-name">Tetrika</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-23.png" alt="" />
                </div>
                <div class="vk-list__item-name">SkillFactory</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-24.png" alt="" />
                </div>
                <div class="vk-list__item-name">Algoritmika</div>
              </div>
            </div>
          </div>
          <div class="vk-list 12">
            <div class="vk-list__name">For Creators</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK for Authors</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-26.png" alt="" />
                </div>
                <div class="vk-list__item-name">Donation Alerts</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-27.png" alt="" />
                </div>
                <div class="vk-list__item-name">Boosty.to</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Pulse for Authors</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 9">
            <div class="vk-list__name">Media and Enterntainment</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-47.png" alt="" />
                </div>
                <div class="vk-list__item-name">Boom</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Pulse</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-48.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">News</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-49.png" alt="" />
                </div>
                <div class="vk-list__item-name">Sport</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Lady</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Auto</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Children</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Cinema</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Hi-Tech</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Home</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Mini Games</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Pets</div>
              </div>
            </div>
          </div>
          <div class="vk-list 10">
            <div class="vk-list__name">Charity</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Charity</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-50.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Dobro Mail.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-51.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">
                  Citymobil’s Miles of Kindness
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">OK’s social projects</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-35.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  Cloud Service for Charity Funds
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-26.png" alt="" />
                </div>
                <div class="vk-list__item-name">Love Alerts</div>
              </div>
            </div>
          </div>
          <div class="vk-list 1">
            <div class="vk-list__name">Social Networks</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">OK</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-3.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">My World</div>
              </div>
            </div>
          </div>
          <div class="vk-list 3">
            <div class="vk-list__name">Mobility</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-37.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Taxi</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-38.png"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Citymobil</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-39.png"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Citydrive</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 14">
            <div class="vk-list__name">B2B</div>
            <div class="vk-list__items">
              <div class="vk-list__subname">Marketing Solutions</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-29.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">myTarget</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-29.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">myTracker</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-31.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Relap</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-32.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">DOOH</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-32.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Digital Instore</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-34.png" alt="" />
                </div>
                <div class="vk-list__item-name">PREDICT</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Digital Technologies</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-35.png" alt="" />
                </div>
                <div class="vk-list__item-name">Mail.ru Cloud Solutions</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Tarantool</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Process Mirror</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Communications Platform</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Tax Monitoring</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-36.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Internet of Things</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">Small and Medium Business</div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK for Business</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-2.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">OK.Business</div>
              </div>
            </div>

            <div class="vk-list__items">
              <div class="vk-list__subname">
                Corporate Social Responsibility
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-73.png" alt="" />
                </div>
                <div class="vk-list__item-name">Kod Dobra</div>
              </div>
            </div>
          </div>
          <div class="vk-list 5">
            <div class="vk-list__name">Goods and Services</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-42.png" alt="" />
                </div>
                <div class="vk-list__item-name">AliExpress Russia</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-1.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Jobs</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-43.png" alt="" />
                </div>
                <div class="vk-list__item-name">Youla</div>
              </div>
            </div>
          </div>
          <div class="vk-list 7">
            <div class="vk-list__name">Search and Browsing</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-10.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Search Mail.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-10.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Answers Mail.ru</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-12.png" alt="" />
                </div>
                <div class="vk-list__item-name">Atom</div>
              </div>
            </div>
          </div>
        </div>
        <div class="vk-lists__column">
          <div class="vk-list 13">
            <div class="vk-list__name">Games</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-52.png" alt="" />
                </div>
                <div class="vk-list__item-name">War Robots</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-53.png" alt="" />
                </div>
                <div class="vk-list__item-name">Warface</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-54.png" alt="" />
                </div>
                <div class="vk-list__item-name">Hustle Castle</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-55.png" alt="" />
                </div>
                <div class="vk-list__item-name">Grand Hotel Mania</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-56.png" alt="" />
                </div>
                <div class="vk-list__item-name">Left to Survive</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-57.png" alt="" />
                </div>
                <div class="vk-list__item-name">Zero City</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-58.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  Love Sick: Interactive Stories
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-59.png" alt="" />
                </div>
                <div class="vk-list__item-name">Tacticool</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-60.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  American Dad! Apocalypse Soon
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-61.png" alt="" />
                </div>
                <div class="vk-list__item-name">Conqueror's Blade</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-62.png" alt="" />
                </div>
                <div class="vk-list__item-name">Lost Ark</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-63.png" alt="" />
                </div>
                <div class="vk-list__item-name">Skyforge</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-64.png" alt="" />
                </div>
                <div class="vk-list__item-name">Space Justice</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-65.png" alt="" />
                </div>
                <div class="vk-list__item-name">Crossfire</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-66.png" alt="" />
                </div>
                <div class="vk-list__item-name">Dino Squad</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-67.png" alt="" />
                </div>
                <div class="vk-list__item-name">Allods</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-68.png" alt="" />
                </div>
                <div class="vk-list__item-name">
                  Evolution 2: Battle for Utopia
                </div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-69.png" alt="" />
                </div>
                <div class="vk-list__item-name">Perfect World</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-70.png" alt="" />
                </div>
                <div class="vk-list__item-name">Juggernaut Wars</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-71.png" alt="" />
                </div>
                <div class="vk-list__item-name">Jungle Heat</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-72.png" alt="" />
                </div>
                <div class="vk-list__item-name">+130 игр</div>
              </div>
            </div>
          </div>
          <div class="vk-list 8">
            <div class="vk-list__name">Health</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-13.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">VK Health</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-14.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Vse Apteki</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-15.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">Health Mail.ru</div>
              </div>
            </div>
          </div>
          <div class="vk-list 4">
            <div class="vk-list__name">Messaging Apps</div>
            <div class="vk-list__items">
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img src="img/vk-list-item-logo-40.png" alt="" />
                </div>
                <div class="vk-list__item-name">ICQ</div>
              </div>
              <div class="vk-list__item">
                <div class="vk-list__item-logo">
                  <img
                    class="services-card__logo-img"
                    src="img/vk-list-item-logo-41.svg"
                    alt=""
                  />
                </div>
                <div class="vk-list__item-name">TamTam</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
