<section class="rise">
  <div class="container">
    <h2 class="rise__title block-title">
      Как растут продукты, присоединившиеся к Mail.ru Group
    </h2>
    <div class="rise__grid">
      <div class="rise-grid__row">
        <div class="rise__grid-th">Компания</div>
        <div class="rise__grid-th">Сегмент</div>
        <div class="rise__grid-th">Год покупки</div>
        <div class="rise__grid-th">Рост</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">ВКонтакте</div>
        <div class="rise__grid-td">соцсети</div>
        <div class="rise__grid-td">2014</div>
        <div class="rise__grid-td">x6,0</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">Pixonic</div>
        <div class="rise__grid-td">игры</div>
        <div class="rise__grid-td">2016</div>
        <div class="rise__grid-td">x5,5</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">GeekBrains</div>
        <div class="rise__grid-td">онлайн-образование</div>
        <div class="rise__grid-td">2016/2019</div>
        <div class="rise__grid-td">x23</div>
      </div>
    </div>
  </div>
</section>
