<section class="rise">
  <div class="container">
    <h2 class="rise__title block-title">
      Mail.ru Group propels business growth
    </h2>
    <div class="rise__grid">
      <div class="rise-grid__row">
        <div class="rise__grid-th">Company</div>
        <div class="rise__grid-th">Segment</div>
        <div class="rise__grid-th">Year of acquisition</div>
        <div class="rise__grid-th">Growth</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">Vkontakte</div>
        <div class="rise__grid-td">Social</div>
        <div class="rise__grid-td">2014</div>
        <div class="rise__grid-td">x6,0</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">Pixonic</div>
        <div class="rise__grid-td">Games</div>
        <div class="rise__grid-td">2016</div>
        <div class="rise__grid-td">x5,5</div>
      </div>
      <div class="rise-grid__row">
        <div class="rise__grid-td">GeekBrains</div>
        <div class="rise__grid-td">Online Education</div>
        <div class="rise__grid-td">2016/2019</div>
        <div class="rise__grid-td">x23</div>
      </div>
    </div>
  </div>
</section>
