<section class="services">
  <div class="container">
    <div class="services__cards services-cards">
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Delivery Club</h3>
          <div class="services-card__logo">
            <img
              src="img/services-card-logo-1.png"
              class="services-card__logo-img"
            />
          </div>
        </div>
        <p class="services-card__number">5.5 m</p>
        <p class="services-card__description">
          orders fulfilled by Delivery Club on a monthly basis
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Samokat</h3>
          <div class="services-card__logo">
            <img
              src="img/services-card-logo-2.png"
              class="services-card__logo-img"
            />
          </div>
        </div>
        <p class="services-card__number">18 m</p>
        <p class="services-card__description">
          orders received by Samokat in 2020
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Local Kitchen</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-3.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">5.2 m</p>
        <p class="services-card__description">
          orders delivered by Local Kitchen in 2020
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Media projects</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-4.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">>1 billion</p>
        <p class="services-card__description">
          page views per month in media projects
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Cloud</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-5.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">+27%</p>
        <p class="services-card__description">
          increase in the Cloud's monthly audience in 2020 compared to 2019
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name mzzzz">VK</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-6.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">97 m</p>
        <p class="services-card__description">the monthly audience</p>
        <p class="services-card__number">15 bn</p>
        <p class="services-card__description">messages</p>
        <p class="services-card__number">9 bn</p>
        <p class="services-card__description">posts viewed per day</p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">MRG classifieds</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-7.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">33 m</p>
        <p class="services-card__description">
          users total audience of MRG classifieds
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Capsule</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-8.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">x15</p>
        <p class="services-card__description">
          sales of the Capsule smart speaker in December up 15 times compared to
          May 2020
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">MY.GAMES</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-9.png"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">770 m</p>
        <p class="services-card__description">
          gamers from 190 countries play games developed by MY.GAMES
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">OK</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-10.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">1 bn</p>
        <p class="services-card__description">
          daily views on OK’s video platform
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Email</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-11.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">46 m</p>
        <p class="services-card__description">
          active Email users in Russia alone
        </p>
      </div>
    </div>
    <button class="services__show-more-cards button">Show more</button>
  </div>
</section>
