<section class="services">
  <div class="container">
    <div class="services__cards services-cards">
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Delivery Club</h3>
          <div class="services-card__logo">
            <img
              src="img/services-card-logo-1.png"
              class="services-card__logo-img"
            />
          </div>
        </div>
        <p class="services-card__number">5,5 млн</p>
        <p class="services-card__description">
          заказов Delivery Club выполняет ежемесячно
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Самокат</h3>
          <div class="services-card__logo">
            <img
              src="img/services-card-logo-2.png"
              class="services-card__logo-img"
            />
          </div>
        </div>
        <p class="services-card__number">18 млн</p>
        <p class="services-card__description">заказов за 2020</p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Кухня на районе</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-3.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">5,2 млн</p>
        <p class="services-card__description">
          заказов доставила "Кухня на районе" за 2020 год
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Медиапроекты</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-4.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">>1 млрд</p>
        <p class="services-card__description">просмотренных страниц в месяц</p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Облако</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-5.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">+27%</p>
        <p class="services-card__description">
          среднемесячная аудитория в 2020 году на 27% больше 2019
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name mzzzz">ВКонтакте</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-6.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">97 млн</p>
        <p class="services-card__description">
          ежемесячно пользуются платформой
        </p>
        <p class="services-card__number">15 млн</p>
        <p class="services-card__description">
          человек обмениваются сообщениями
        </p>
        <p class="services-card__number">9 млрд</p>
        <p class="services-card__description">записей в сутки</p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Сервисы объявлений</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-7.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">33 млн</p>
        <p class="services-card__description">
          общая аудитория сервисов объявлений MRG
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Капсула</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-8.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">+15</p>
        <p class="services-card__description">
          в декабре продали в 15 раз больше, чем в мае 2020
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">MY.GAMES</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-9.png"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">770 млн</p>
        <p class="services-card__description">
          геймеров из 190 стран мира играют в игры MY.GAMES
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Одноклассники</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-10.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">1 млрд</p>
        <p class="services-card__description">
          просмотров видео в сутки на видеоплатформе ОК
        </p>
      </div>
      <div class="services__card services-card scroll-item">
        <div class="services-card__top-wrapper">
          <h3 class="services-card__name">Почта</h3>
          <div class="services-card__logo">
            <img
              class="services-card__logo-img"
              src="img/services-card-logo-11.svg"
              alt=""
            />
          </div>
        </div>
        <p class="services-card__number">№1</p>
        <p class="services-card__description">
          46 миллионов активных пользователей только в России
        </p>
      </div>
    </div>
    <button class="services__show-more-cards button">Показать ещё</button>
  </div>
</section>
