<section class="shareholders">
  <div class="container">
    <div class="shareholders__wrapper">
      <div class="shareholders__text">
        <h2 class="shareholders__title block-title">
          Наши акционеры — крупнейшие холдинги мирового ИТ-рынка
        </h2>
        <div class="shareholders__items">
          <div class="shareholders__item">
            Около 50% ГДР Mail.ru Group свободно торгуются на Лондонской
            фондовой бирже, в июле 2020 года стартовали торги ГДР на Московской
            бирже
          </div>
          <div class="shareholders__item">
            С 1 декабря Mail.ru Group входит в индексы MSCI
          </div>
        </div>
        <div class="shareholders__prompt">
          <div class="shareholders__prompt-title">
            Структура акционерного капитала Mail.ru Group (экономические доли)
          </div>
          <div class="shareholders__prompt-items">
            <div class="shareholders__prompt-item">Другие акционеры</div>
            <div class="shareholders__prompt-item">Tencent</div>
            <div class="shareholders__prompt-item">МФ Технологии</div>
            <div class="shareholders__prompt-item">Prosus</div>
            <div class="shareholders__prompt-item">Alibaba</div>
          </div>
        </div>
      </div>
      <div class="shareholders__diagram">
        <img
          src="img/shareholders-diagram.svg"
          class="shareholders__diagram-pic"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
