<section class="shareholders">
  <div class="container">
    <div class="shareholders__wrapper">
      <div class="shareholders__text">
        <h2 class="shareholders__title block-title">
          Our shareholders are at the forefront of the global technology market
        </h2>
        <div class="shareholders__items">
          <div class="shareholders__item">
            Around 50% of Mail.ru Group's GDRs trade on the London Stock
            Exchange. In July 2020, GDRs were listed on the Moscow Exchange
          </div>
          <div class="shareholders__item">
            Since 1 December, Mail.ru Group has been included in the MSCI
            indices
          </div>
        </div>
        <div class="shareholders__prompt">
          <div class="shareholders__prompt-title">Shareholder structure</div>
          <div class="shareholders__prompt-items">
            <div class="shareholders__prompt-item">Economic shares</div>
            <div class="shareholders__prompt-item">Tencent</div>
            <div class="shareholders__prompt-item">MFT</div>
            <div class="shareholders__prompt-item">Prosus</div>
            <div class="shareholders__prompt-item">Alibaba</div>
          </div>
        </div>
      </div>
      <div class="shareholders__diagram">
        <img
          src="img/shareholders-diagram.svg"
          class="shareholders__diagram-pic"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
