<section class="statistics">
  <div class="container">
    <div class="statistics__wrapper">
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">Communications and Social</div>
        <div class="statistics-item__proceeds">
          <div class="statistics-item__proceeds-prompt">revenue bn rub.</div>
          <div
            class="statistics-item__proceeds-percent"
            data-percent="22"
            data-animated="0"
          >
            +<span>22</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11.6</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">14.1</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div class="statistics-item__ebitda-prompt">EBITDA bn rub.</div>
          <div
            class="statistics-item__ebitda-percent"
            data-percent="9.7"
            data-animated="0"
          >
            +<span>4</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">5.6</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">5.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          VKontakte, Odnoklassniki, My World, Email, Portal, Music services
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">Games</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="42.2"
            data-animated="0"
          >
            +<span>1</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11.1</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="165"
            data-animated="0"
          >
            +<span>13</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">2.4</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">2.7</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Online games, streaming, MY.GAMES Store and MY.GAMES Cloud
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">EdTech</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="191.6"
            data-animated="0"
          >
            +<span>88</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">1.2</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">2.2</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="0"
            data-animated="0"
          ></div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">0.3</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-0.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Consolidated EdTech assets (Skillbox, GeekBrains)
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">New Initiatives</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="32"
            data-animated="0"
          >
            +<span>51</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">1.8</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">2.7</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="16.1"
            data-animated="0"
          >
            +<span>24</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-0.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-1.0</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Youla, B2B projects, Marusia voice assistant, Capsula smart speaker
        </div>
      </div>
    </div>
  </div>
</section>
