<section class="statistics">
  <div class="container">
    <div class="statistics__wrapper">
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">
          Соцсети и коммуникационные сервисы
        </div>
        <div class="statistics-item__proceeds">
          <div class="statistics-item__proceeds-prompt">выручка млрд ₽</div>
          <div
            class="statistics-item__proceeds-percent"
            data-percent="22"
            data-animated="0"
          >
            +<span>22</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11.6</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">14.1</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div class="statistics-item__ebitda-prompt">EBITDA млрд ₽</div>
          <div
            class="statistics-item__ebitda-percent"
            data-percent="9.7"
            data-animated="0"
          >
            +<span>4</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">5.6</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">5.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          ВКонтакте, Одноклассники, Мой Мир, Почта, портал и музыкальные сервисы
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">Игры</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="42.2"
            data-animated="0"
          >
            +<span>1</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">11.1</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="165"
            data-animated="0"
          >
            +<span>13</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">2.4</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">2.7</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Онлайн-игры, стриминг игр и платформенные решения MY.GAMES
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">Образование</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="191.6"
            data-animated="0"
          >
            +<span>88</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">1.2</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">2.2</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="0"
            data-animated="0"
          ></div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">0.3</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-0.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Образовательные проекты (консолидированные GeekBrains и Skillbox)
        </div>
      </div>
      <div class="statistics__item statistics-item">
        <div class="statistics-item__title">Новые инициативы</div>
        <div class="statistics-item__proceeds">
          <div
            class="statistics-item__proceeds-percent"
            data-percent="32"
            data-animated="0"
          >
            +<span>51</span>%
          </div>
          <div class="statistics-item__proceeds-diagrams">
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">1.8</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__proceeds-diagram">
              <div class="statistics-item__proceeds-diagram-number">2.7</div>
              <div class="statistics-item__proceeds-diagram-figure"></div>
              <div class="statistics-item__proceeds-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__ebitda">
          <div
            class="statistics-item__ebitda-percent"
            data-percent="16.1"
            data-animated="0"
          >
            +<span>24</span>%
          </div>
          <div class="statistics-item__ebitda-diagrams">
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-0.8</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2020</div>
            </div>
            <div class="statistics-item__ebitda-diagram">
              <div class="statistics-item__ebitda-diagram-number">-1.0</div>
              <div class="statistics-item__ebitda-diagram-figure"></div>
              <div class="statistics-item__ebitda-diagram-date">Q2 2021</div>
            </div>
          </div>
        </div>
        <div class="statistics-item__description">
          Юла, b2b-проекты, Маруся, Капсула
        </div>
      </div>
    </div>
  </div>
</section>
